{% extends 'AdminBundle::layout.html.twig' %}

{% block head %}
    <meta charset="UTF-8">
    <title>{{ page.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="">
    <meta name="keywords" content="coco bootstrap template, coco admin, bootstrap,admin template, bootstrap admin,">
    <meta name="author" content="Huban Creative">

    <!-- Base Css Files -->
    <link href="/admin/libs/jqueryui/ui-lightness/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />
    <link href="/admin/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/admin/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/admin/libs/fontello/css/fontello.css" rel="stylesheet" />
    <link href="/admin/libs/animate-css/animate.min.css" rel="stylesheet" />
    <link href="/admin/libs/nifty-modal/css/component.css" rel="stylesheet" />
    <link href="/admin/libs/magnific-popup/magnific-popup.css" rel="stylesheet" />
    <link href="/admin/libs/ios7-switch/ios7-switch.css" rel="stylesheet" />
    <link href="/admin/libs/pace/pace.css" rel="stylesheet" />
    <link href="/admin/libs/sortable/sortable-theme-bootstrap.css" rel="stylesheet" />
    <link href="/admin/libs/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
    <link href="/admin/libs/jquery-icheck/skins/all.css" rel="stylesheet" />
    <!-- Code Highlighter for Demo -->
    <link href="/admin/libs/prettify/github.css" rel="stylesheet" />

    <!-- Extra CSS Libraries Start -->
    <link href="/admin/libs/jquery-datatables/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/admin/libs/summernote/summernote.css" rel="stylesheet" type="text/css" />
    <link href="/admin/libs/jquery-datatables/extensions/TableTools/css/dataTables.tableTools.css" rel="stylesheet" type="text/css" />
    <link href="/admin/css/style.css" rel="stylesheet" type="text/css" />
    <!-- Extra CSS Libraries End -->
    <link href="/admin/css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="/admin/img/favicon.ico">
    <link rel="apple-touch-icon" href="/admin/img/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/admin/img/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/admin/img/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/admin/img/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/admin/img/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/admin/img/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/admin/img/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/admin/img/apple-touch-icon-152x152.png" />
{% endblock %}

{% block page %}
    {#{% for flashMessage in app.session.getFlashes() %}  {{ flashMessage }} {% endfor %}#}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <!-- Page Heading Start -->
    <div class="page-heading">
        <h1><i class='fa fa-table'></i> {{ page.name }} </h1>
    </div>
    <!-- Page Heading End-->

    <!-- Your awesome content goes here -->
    <div class="row">

        <div class="col-sm-12 portlets">

            <div class="widget">
                <div class="widget-header transparent">
                    <h2><strong>{{ page.name }}</strong></h2>
                    <div class="additional-btn">
                        {#<a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>#}
                        {#<a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>#}
                        {#<a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>#}
                    </div>
                </div>
                <div class="widget-content padding">
                    <div id="basic-form">

                        <form role="form" method="post" action="" enctype="multipart/form-data">
<a id="resizeCkEditor" href="#"></a>

                            <div class="form-group">
                                <label for="input-text" class="col-sm-1 control-label">SEO Title</label>
                                <div class="col-sm-11">
                                    <input type="text" name="seo_title" value="{{ page.seoTitle }}" class="form-control" placeholder="seo Title">
                                </div>
                            </div>
                            <div class="form-group"></div>
                            <div class="form-group">
                                <label for="input-text" class="col-sm-1 control-label">SEO Keywords</label>
                                <div class="col-sm-11">
                                    <input type="text" name="seo_keywords" value="{{ page.seoKeywords }}" class="form-control" placeholder="seo Keywords">
                                </div>
                            </div>
                            <div class="form-group"></div>
                            <div class="form-group">
                                <label for="input-text" class="col-sm-1 control-label">SEO Description</label>
                                <div class="col-sm-11">
                                    <textarea rows="3" cols="150" name="seo_description">{{ page.seoDescription }}</textarea>
                                </div>
                            </div>
                            <div class="form-group"></div>
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <div class="form-group"></div>
                            <article>
                                <div id="holder">
                                </div>
                                <p id="upload" class="hidden"><label>Drag & drop not supported, but you can still upload via this input field:<br><input type="file"></label></p>
                                <p id="filereader">File API & FileReader API not supported</p>
                                <p id="formdata">XHR2's FormData is not supported</p>
                                <p id="progress">XHR2's upload progress isn't supported</p>
                                {#<p>Upload progress: <progress id="uploadprogress" max="100" value="0">0</progress></p>#}
                            </article>
                            <div class="form-group"></div>

                            <div class="widget">
                                <div class="widget-header">
                                    <h2><strong>WYSIWYG</strong></h2>
                                </div>
                                <div class="widget-content">
                                    <textarea name="text" class="form-control" id="ckeditor">{{ page.text }}</textarea>
                                </div>
                            </div>

                            <label for="">Images</label>

                            <div id="staticImage" class="staticImage row">
                                {% for image in images %}
                                    <div class="col-sm-3 prependableImgDiv" style="">
                                        <div class="widget">
                                            <div class="widget-content padding">
                                                <img style="max-width: 300px; max-height: 300px" src="/image/staticpage/{{ page.id }}/{{ image }}">
                                                <a style="color: #000; text-decoration: underline" href="/image/staticpage/{{ page.id }}/{{ image }}">/image/staticpage/{{ page.id }}/{{ image }}</a>
                                                <br />
                                                <a class="prependableDelA" style="color: red; font-size: 18px; font-weight: bold;" href="/admin/staticpage/delimg/{{ page.id }}/{{ image }}">Удалить</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                            <button type="submit" class="btn btn-default" name="editpage">Submit</button>

                        </form>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-sm-6 portlets"></div>
    </div>
    <!-- End of your awesome content -->

    <style>
        #holder { border: 10px dashed #ccc; min-height: 300px; margin: 20px auto;}
        #holder.hover { border: 10px dashed #0c0; }
        #holder img { display: block; margin: 10px auto; }
        #holder p { margin: 10px; font-size: 14px; }
        progress { width: 100%; }
        progress:after { content: '%'; }
        .fail { background: #c00; padding: 2px; color: #fff; }
        .hidden { display: none !important;}
    </style>
{% endblock %}

{% block jsBlock %}
    <script src="/admin/libs/jquery/jquery-1.11.1.min.js"></script>
    <script src="/admin/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="/admin/libs/jqueryui/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="/admin/libs/jquery-ui-touch/jquery.ui.touch-punch.min.js"></script>
    <script src="/admin/libs/jquery-detectmobile/detect.js"></script>
    <script src="/admin/libs/jquery-animate-numbers/jquery.animateNumbers.js"></script>
    <script src="/admin/libs/ios7-switch/ios7.switch.js"></script>
    <script src="/admin/libs/fastclick/fastclick.js"></script>
    <script src="/admin/libs/jquery-blockui/jquery.blockUI.js"></script>
    <script src="/admin/libs/bootstrap-bootbox/bootbox.min.js"></script>
    <script src="/admin/libs/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="/admin/libs/jquery-sparkline/jquery-sparkline.js"></script>
    <script src="/admin/libs/nifty-modal/js/classie.js"></script>
    <script src="/admin/libs/nifty-modal/js/modalEffects.js"></script>
    <script src="/admin/libs/sortable/sortable.min.js"></script>
    <script src="/admin/libs/bootstrap-fileinput/bootstrap.file-input.js"></script>
    <script src="/admin/libs/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="/admin/libs/bootstrap-select2/select2.min.js"></script>
    <script src="/admin/libs/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/admin/libs/pace/pace.min.js"></script>
    <script src="/admin/libs/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/admin/libs/jquery-icheck/icheck.min.js"></script>

    <!-- Demo Specific JS Libraries -->
    <script src="/admin/libs/prettify/prettify.js"></script>

    <script src="/admin/js/init.js"></script>
    <!-- Page Specific JS Libraries -->
    <script src="/admin/libs/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="/admin/libs/bootstrap-inputmask/inputmask.js"></script>
    <script src="/admin/libs/bootstrap-xeditable/js/bootstrap-editable.min.js"></script>
    <script src="/admin/libs/bootstrap-xeditable/demo/jquery.mockjax.js"></script>
    <script src="/admin/libs/bootstrap-xeditable/demo/demo-mock.js"></script>
    <script src="/admin/libs/bootstrap-select2/select2.min.js"></script>
    <script src="/admin/libs/jquery-clndr/moment-2.5.1.js"></script>
    <script src="/admin/libs/bootstrap-typeahead/bootstrap3-typeahead.min.js"></script>
    <script src="/admin/libs/ckeditor/ckeditor.js"></script>
    <script src="/admin/libs/ckeditor/adapters/jquery.js"></script>
    <script src="/admin/js/pages/advanced-forms.js"></script>

    <script src="/admin/libs/summernote/summernote.js"></script>
    <script src="/admin/js/pages/forms.js"></script>

    <script src="/admin/js/customJs/staticpageEdit.js"></script>
<script>
    $(function() {
//        setTimeout($('#resizeCkEditor').click(), 2000);
    });
</script>
{% endblock %}