{% extends 'AdminBundle::layout.html.twig' %}

{% block head %}
    <meta charset="UTF-8">
    <title>Games</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="">
    <meta name="keywords" content="coco bootstrap template, coco admin, bootstrap,admin template, bootstrap admin,">
    <meta name="author" content="Huban Creative">

    <!-- Base Css Files -->
    <link href="/admin/libs/jqueryui/ui-lightness/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />
    <link href="/admin/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/admin/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/admin/libs/fontello/css/fontello.css" rel="stylesheet" />
    <link href="/admin/libs/animate-css/animate.min.css" rel="stylesheet" />
    <link href="/admin/libs/nifty-modal/css/component.css" rel="stylesheet" />
    <link href="/admin/libs/magnific-popup/magnific-popup.css" rel="stylesheet" />
    <link href="/admin/libs/ios7-switch/ios7-switch.css" rel="stylesheet" />
    <link href="/admin/libs/pace/pace.css" rel="stylesheet" />
    <link href="/admin/libs/sortable/sortable-theme-bootstrap.css" rel="stylesheet" />
    <link href="/admin/libs/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
    <link href="/admin/libs/jquery-icheck/skins/all.css" rel="stylesheet" />
    <!-- Code Highlighter for Demo -->
    <link href="/admin/libs/prettify/github.css" rel="stylesheet" />

    <!-- Extra CSS Libraries Start -->
    <link href="/admin/libs/jquery-datatables/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/admin/libs/summernote/summernote.css" rel="stylesheet" type="text/css" />
    <link href="/admin/libs/jquery-datatables/extensions/TableTools/css/dataTables.tableTools.css" rel="stylesheet" type="text/css" />
    <link href="/admin/css/style.css" rel="stylesheet" type="text/css" />
    <!-- Extra CSS Libraries End -->
    <link href="/admin/css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="/admin/img/favicon.ico">
    <link rel="apple-touch-icon" href="/admin/img/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/admin/img/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/admin/img/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/admin/img/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/admin/img/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/admin/img/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/admin/img/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/admin/img/apple-touch-icon-152x152.png" />
{% endblock %}

{% block page %}
    {#{% for flashMessage in app.session.getFlashes() %}  {{ flashMessage }} {% endfor %}#}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <!-- Page Heading Start -->
    <div class="page-heading">
        <h1><i class='fa fa-table'></i> Игры</h1>
    </div>
    <!-- Page Heading End-->

    <!-- Your awesome content goes here -->
    <div class="row">

        <div class="col-sm-12 portlets">

            <div class="widget">
                <div class="widget-header transparent">
                    <h2><strong>{% if isNew is defined and isNew==1 %} Добавление игры {% else %} {{ game.name }} {% endif %}</strong></h2>
                    <div class="additional-btn">
                        <a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
                        <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                        <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
                    </div>
                </div>
                <div class="widget-content padding">
                    <div id="basic-form">

                        <form role="form" method="post" action="" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" name="name" class="form-control" id="name" value="{{ game.name }}" placeholder="Enter name of the game">
                            </div>
                            <div class="form-group">
                                <input type="file" name="logo" class="btn btn-default" title="Logo">
                                <label for="">Logo</label>
                                {% if game.logo is not empty %}
                                    <img src="/image/widget/gamesList/{{ game.logo }}">
                                    <a href="/admin/games/delimg/{{ game.id }}/logo">Удалить</a>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <input type="file" name="biglogo" class="btn btn-default" title="Big Logo">
                                <label for="">Big Logo</label>
                                {% if game.biglogo is not empty %}
                                    <img src="/image/games/{{ game.biglogo }}">
                                    <a href="/admin/games/delimg/{{ game.id }}/biglogo">Удалить</a>
                                {% endif %}
                            </div>
                            {% if game.parent == 0 %}
                                <div class="form-group">
                                    <label for="href">Name of Coin (в род. падеже (адены, золота, и т.д.))</label>
                                    <input type="text" name="name_of_coin" class="form-control" id="nameOfCoin" value="{{ game.nameOfCoin }}" placeholder="adena, gold..">
                                </div>
                            {% endif %}
                                <div class="form-group">
                                    <label for="href">href {% if gameParent is defined and gameParent is not null %} ( {{ gameParent.href }}/ ) {% endif %}</label>
                                    <input type="text" name="href" class="form-control" id="href" value="{{ game.href }}" placeholder="href">
                                </div>
                            <div class="form-group">
                                <label for="priority">Priority</label>
                                <input type="text" name="priority"  class="form-control" id="priority" value="{{ game.priority }}" placeholder="priority">
                            </div>
                            <div class="form-group">
                                {#<label for="parentFake">Parent</label>#}
                                {#<input type="text" name="parentFake" class="form-control" id="parentFake" value="{% if gameParent is defined and gameParent is not empty %}{{ gameParent.name }}{% endif %}" placeholder="parent">#}
                                {#<input type="text" name="parent" class="form-control hidden" id="parent" value="{{ game.parent }}" placeholder="parent">#}
                            </div>
                            <div class="">
                                <label class="" style="font-size: 20px;">Active</label>
                                <div class="">
                                    <div class="checkbox">
                                        <label class="">
                                            <div class="icheckbox_square-aero" aria-checked="false" aria-disabled="false" style="position: relative;">
                                                <input type="checkbox" name="active" value="1" {% if game.active == 1 %} checked {% endif %} style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                                <ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                            </div>
                                            Active
                                        </label>
                                    </div>
                                </div>
                            </div>

                            {% if gameParent is defined and gameParent is not empty %}
                                <hr />
                                <div class="">
                                    <label class="" style="font-size: 20px;">Parent</label>
                                    <div class="">
                                        <a style="color: black; text-decoration: underline; font-weight: bold" href="/admin/games/edit/{{ gameParent.id }}" target="_blank">{{ gameParent.name }}</a>
                                    </div>
                                </div>
                                <hr />
                            {% endif %}

                            <div class="">
                                <div class="widget">
                                    <div class="widget-content padding">
                                        <ul id="demo5" class="nav nav-tabs nav-simple">
                                            {% if isNew is not defined or isNew !=1 %}

                                            {% if game.parent == 0 %}
                                                <li class="active">
                                                    <a href="#demo5-home" data-toggle="tab"><i class="fa fa-users"></i>Children</a>
                                                </li>
                                            {% endif %}

                                            <li class="">
                                                <a href="#demo5-profile" data-toggle="tab"><i class="fa fa-database"></i>Servers</a>
                                            </li>

                                            {% if game.parent == 0 %}
                                                <li class="">
                                                    <a href="#demo5-profile_sides" data-toggle="tab"><i class="glyphicon glyphicon-sort"></i>Sides</a>
                                                </li>
                                            {% endif %}
                                        </ul>


                                            <div class="tab-content">
                                                {% if game.parent == 0 %}
                                                    <div class="tab-pane fade active in" id="demo5-home">
                                                        <div class="">
                                                            <div class="">
                                                                <div class="checkbox" id="hasChildrenDiv">
                                                                    <label class="toggleChildrenDiv">
                                                                        <div class="icheckbox_square-aero" aria-checked="false" aria-disabled="false" style="position: relative;">
                                                                            <input type="checkbox" name="hasChildren" value="1" {% if game.hasChildren == 1 %} checked {% endif %} style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                                                            <ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                                                        </div>
                                                                        Has Children
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group" id="childDiv" {% if game.hasChildren != 1 %} style="display: none" {% endif %}>
                                                            {% if childrenGames is defined and childrenGames is not empty %}
                                                                {% for childGame in childrenGames %}
                                                                    <div class="form-group">
                                                                        <a style="color: black; text-decoration: underline; font-weight: bold" href="/admin/games/edit/{{ childGame.id }}" target="_blank">{{ childGame.name }}</a>
                                                                    </div>
                                                                {% endfor %}
                                                            {% endif %}
                                                            <div class="form-group">
                                                                <a href="#" id="addChild" data-gameid="{{ game.id }}">Добавить</a>
                                                            </div>

                                                            <div class="form-group">
                                                                <input type="text" name="children[{{ game.id }}][]" class="form-control" value="" placeholder="child">
                                                            </div>

                                                        </div>
                                                    </div> <!-- / .tab-pane -->
                                                {% endif %}
                                                <div class="tab-pane fade {% if game.parent != 0 %}active in{% endif %}" id="demo5-profile">
                                                    {% if servers is defined and servers is not empty %}
                                                        {% for server in servers %}
                                                            <div class="form-group">
                                                                <a style="color: black; text-decoration: underline; font-weight: bold" href="/admin/servers/edit/{{ server.id }}" target="_blank">{{ server.name }} - price: {{ server.priceForCoin }} RUB</a>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                                {% if game.parent == 0 %}
                                                    <div class="tab-pane fade" id="demo5-profile_sides">
                                                        <div class="form-group" id="sidesDiv">
                                                            {% if sides is defined and sides is not empty %}
                                                                {% for side in sides %}
                                                                    <div class="form-group sideADiv">
                                                                        <a style="color: black; text-decoration: underline; font-weight: bold" href="#" target="_blank">{{ side.name }}</a> - / -
                                                                        <a style="color: red; text-decoration: underline; font-weight: bold" href="#" target="_blank" class="delSide" data-sideid="{{ side.id }}">Удалить</a>
                                                                    </div>
                                                                {% endfor %}
                                                            {% endif %}
                                                            <div class="form-group">
                                                                <a href="#" id="addSide" data-gameid="{{ game.id }}">Добавить</a>
                                                            </div>

                                                            <div class="form-group">
                                                                <input type="text" name="side[{{ game.id }}][]" class="form-control" value="" placeholder="side">
                                                            </div>

                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div> <!-- / .tab-content -->
                                        {% endif %}
                                        <hr>

                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default" name="editgame">Submit</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-sm-6 portlets"></div>
    </div>
    <!-- End of your awesome content -->
{% endblock %}

{% block jsBlock %}
    <script src="/admin/libs/jquery/jquery-1.11.1.min.js"></script>
    <script src="/admin/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="/admin/libs/jqueryui/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="/admin/libs/jquery-ui-touch/jquery.ui.touch-punch.min.js"></script>
    <script src="/admin/libs/jquery-detectmobile/detect.js"></script>
    <script src="/admin/libs/jquery-animate-numbers/jquery.animateNumbers.js"></script>
    <script src="/admin/libs/ios7-switch/ios7.switch.js"></script>
    <script src="/admin/libs/fastclick/fastclick.js"></script>
    <script src="/admin/libs/jquery-blockui/jquery.blockUI.js"></script>
    <script src="/admin/libs/bootstrap-bootbox/bootbox.min.js"></script>
    <script src="/admin/libs/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="/admin/libs/jquery-sparkline/jquery-sparkline.js"></script>
    <script src="/admin/libs/nifty-modal/js/classie.js"></script>
    <script src="/admin/libs/nifty-modal/js/modalEffects.js"></script>
    <script src="/admin/libs/sortable/sortable.min.js"></script>
    <script src="/admin/libs/bootstrap-fileinput/bootstrap.file-input.js"></script>
    <script src="/admin/libs/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="/admin/libs/bootstrap-select2/select2.min.js"></script>
    <script src="/admin/libs/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/admin/libs/pace/pace.min.js"></script>
    <script src="/admin/libs/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/admin/libs/jquery-icheck/icheck.min.js"></script>

    <!-- Demo Specific JS Libraries -->
    <script src="/admin/libs/prettify/prettify.js"></script>

    <script src="/admin/js/init.js"></script>
    <!-- Page Specific JS Libraries -->
    <script src="/admin/libs/jquery-datatables/js/jquery.dataTables.min.js"></script>
    <script src="/admin/libs/jquery-datatables/js/dataTables.bootstrap.js"></script>
    <script src="/admin/libs/jquery-datatables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>

    <script src="/admin/libs/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="/admin/libs/bootstrap-inputmask/inputmask.js"></script>
    <script src="/admin/libs/summernote/summernote.js"></script>
    <script src="/admin/js/pages/forms.js"></script>
    <script src="/admin/js/customJs/gamesEdit.js"></script>
    <script src="/admin/js/pages/tabs-accordions.js"></script>
{% endblock %}