
<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="ltr" lang="en" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="ltr" lang="en" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="ltr" lang="en">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">
    <link  href="/fontawesome-pro-5.7.0/fontawesome-pro-5.7.0-web/css/all.css" rel="stylesheet">
    <title>{% if seoMeta is defined %}{{ seoMeta.seoTitle }}{% endif %} GoldBuy - сервис продажи игровых ценностей</title>
    <meta name="description" content="{% if seoMeta is defined %}{{ seoMeta.seoDescription }}{% endif %}">
    <meta name="keywords" content="{% if seoMeta is defined %}{{ seoMeta.seoKeywords }}{% endif %}">

    <meta name="yandex-verification" content="316cf3aeabf6ecf1" />

    {% block stylesheets %}
        <link href="/css/catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
        <link href="/css/catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        {#<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">#}
        <link href="/css/catalog/view/theme/default/stylesheet/stylesheet.css" rel="stylesheet">
        <link href="/css/catalog/view/javascript/jquery/swiper/css/owl.carousel.css" type="text/css" rel="stylesheet" media="screen" />
        <link href="/css/catalog/view/javascript/jquery/swiper/css/owl.theme.css" type="text/css" rel="stylesheet" media="screen" />
        <link href="/css/catalog/view/javascript/jquery/magnific/magnific-popup.css" type="text/css" rel="stylesheet" media="screen" />
        <link href="/css/catalog/view/theme/default/stylesheet/inspirenewsletter.css" type="text/css" rel="stylesheet" media="screen" />
        <link href="/css/catalog/view/javascript/jquery/swiper/css/swiper.min.css" type="text/css" rel="stylesheet" media="screen" />
        <link href="/css/catalog/view/javascript/jquery/swiper/css/opencart.css" type="text/css" rel="stylesheet" media="screen" />
        <link rel="stylesheet" href="http://bootstraptema.ru/snippets/element/2016/datatable/datatablestab.rus.min.css"/>
        <link rel="stylesheet" href="/web/chosen_v1.8.7/chosen.css">
        <script src="/web/chosen_v1.8.7/docsupport/jquery-3.2.1.min.js" type="text/javascript"></script>
        <script src="/web/chosen_v1.8.7/chosen.jquery.js" type="text/javascript"></script>
        <script src="/web/chosen_v1.8.7/docsupport/prism.js" type="text/javascript" charset="utf-8"></script>
        <script src="/web/chosen_v1.8.7/docsupport/init.js" type="text/javascript" charset="utf-8"></script>
        <script src="/web/js/catalog/view/javascript/bootstrap/js/bootstrap-collapse.js"></script>
        {% if cssOutput is defined %}
            {{ cssOutput }}
        {% endif %}

    {% endblock %}

    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

    {% block svg %}
        {#<svg style="display: none;">#}
            {#<symbol id="cart" viewBox="0 0 459.529 459.529">#}
                {#<path d="M256,0C114.84,0,0,114.842,0,256s114.84,256,256,256s256-114.842,256-256S397.16,0,256,0z M256,462.452#}
          {#c-113.837,0-206.452-92.614-206.452-206.452S142.163,49.548,256,49.548S462.452,142.163,462.452,256S369.837,462.452,256,462.452z#}
          {#"/>#}
                {#<polygon points="256.01,165.161 135.604,285.509 376.388,285.509     "/>#}
            {#</symbol>#}
            {#<symbol id="pcart" viewBox="0 0 491.029 491.029">#}
                {#<path d="M470.129,1.515h-66.6c-9.4,0-17.7,5.2-19.8,14.6l-71.8,263.2h-212.1l-51-155h225.8c11.4,0,20.8-9.4,20.8-20.8#}
          {#s-9.4-20.8-20.8-20.8h-253.9c-15.5,0-23.6,15.2-19.8,27l64.5,196.7c3.1,8.3,11.4,13.5,19.8,13.5h241.4c9.4,0,17.7-6.2,20.8-13.5#}
          {#l71.8-263.2h51c11.4,0,20.8-9.4,20.8-20.8S481.629,1.515,470.129,1.515z"/>#}
                {#<path d="M283.929,350.115c-38.5,0-69.7,31.2-69.7,69.7s31.2,69.7,69.7,69.7c39.5,0,69.7-31.2,69.7-69.7#}
          {#S322.429,350.115,283.929,350.115z M283.929,447.815c-15.6,0-29.1-13.5-29.1-29.1s12.5-29.1,29.1-29.1s29.1,13.5,29.1,29.1#}
          {#S300.529,447.815,283.929,447.815z"/>#}
                {#<path d="M126.829,350.115c-38.5,0-69.7,31.2-69.7,69.7s31.2,69.7,69.7,69.7s69.7-31.2,69.7-69.7S165.329,350.115,126.829,350.115z#}
           {#M126.829,447.815c-15.6,0-29.1-13.5-29.1-29.1s12.5-29.1,29.1-29.1c15.6,0,29.1,13.5,29.1,29.1S143.429,447.815,126.829,447.815z#}
          {#"/>#}
            {#</symbol>#}
            {#<symbol id="pwish" viewBox="0 0 512 512">#}
                {#<path d="M474.644,74.27C449.391,45.616,414.358,29.836,376,29.836c-53.948,0-88.103,32.22-107.255,59.25#}
          {#c-4.969,7.014-9.196,14.047-12.745,20.665c-3.549-6.618-7.775-13.651-12.745-20.665c-19.152-27.03-53.307-59.25-107.255-59.25#}
          {#c-38.358,0-73.391,15.781-98.645,44.435C13.267,101.605,0,138.213,0,177.351c0,42.603,16.633,82.228,52.345,124.7#}
          {#c31.917,37.96,77.834,77.088,131.005,122.397c19.813,16.884,40.302,34.344,62.115,53.429l0.655,0.574#}
          {#c2.828,2.476,6.354,3.713,9.88,3.713s7.052-1.238,9.88-3.713l0.655-0.574c21.813-19.085,42.302-36.544,62.118-53.431#}
          {#c53.168-45.306,99.085-84.434,131.002-122.395C495.367,259.578,512,219.954,512,177.351#}
          {#C512,138.213,498.733,101.605,474.644,74.27z M309.193,401.614c-17.08,14.554-34.658,29.533-53.193,45.646#}
          {#c-18.534-16.111-36.113-31.091-53.196-45.648C98.745,312.939,30,254.358,30,177.351c0-31.83,10.605-61.394,29.862-83.245#}
          {#C79.34,72.007,106.379,59.836,136,59.836c41.129,0,67.716,25.338,82.776,46.594c13.509,19.064,20.558,38.282,22.962,45.659#}
          {#c2.011,6.175,7.768,10.354,14.262,10.354c6.494,0,12.251-4.179,14.262-10.354c2.404-7.377,9.453-26.595,22.962-45.66#}
          {#c15.06-21.255,41.647-46.593,82.776-46.593c29.621,0,56.66,12.171,76.137,34.27C471.395,115.957,482,145.521,482,177.351#}
          {#C482,254.358,413.255,312.939,309.193,401.614z"/>#}
            {#</symbol>#}
            {#<symbol id="pcom" viewBox="0 0 73.17 73.17">#}
                {#<path d="M36.856,12.554c-2.393,0-4.328,1.896-4.328,4.234v52.14c0,2.348,1.936,4.242,4.328,4.242#}
            {#c2.389,0,4.328-1.896,4.328-4.242v-52.14C41.185,14.449,39.244,12.554,36.856,12.554z M13.957,26.687#}
            {#c-2.391,0-4.329,1.903-4.329,4.242v37.999c0,2.348,1.938,4.242,4.329,4.242c2.388,0,4.325-1.896,4.325-4.242V30.929#}
            {#C18.282,28.59,16.345,26.687,13.957,26.687z M59.214,0c-2.389,0-4.324,1.903-4.324,4.242v64.686c0,2.348,1.937,4.242,4.324,4.242#}
            {#c2.393,0,4.328-1.896,4.328-4.242V4.242C63.542,1.903,61.606,0,59.214,0z"/>#}
            {#</symbol>#}
        {#</svg>#}
    {% endblock %}

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134301353-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-134301353-1');
    </script>

</head>
<body>
{% block navTop %}{% endblock %}

{% block header %}{% endblock %}

{% block menu %}{% endblock %}

{% block mobileTopNavigation %}
    <div class="hidden-md hidden-lg hidden-sm">
        <div class="container horizontal-menu">
            <nav id="menu" class="navbar">

                <div class="navbar-header"> <span id="category" class="visible-xs">Categories</span>
                    <button type="button" class="btn btn-navbar navbar-toggle" onclick="openNav()" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
                </div>

                <div id="mySidenav" class="sidenav">
                    <div class="close-nav">
                        <span class="categories">Category</span>
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fa fa-close"></i></a>
                    </div>
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="/index.php?route=product/category&amp;path=38">Accessories</a></li>
                            <li class="dropdown"><a href="/index.php?route=product/category&amp;path=20" class="dropdown-toggle header-menu" data-toggle="dropdown">Desktops<i class="fa fa-angle-down pull-right"></i></a>
                                <div class="dropdown-menu">
                                    <div class="dropdown-inner">               <ul class="list-unstyled">
                                            <li><a href="/index.php?route=product/category&amp;path=20_26">PC (4)</a></li>
                                            <li><a href="/index.php?route=product/category&amp;path=20_27">Mac (2)</a></li>
                                        </ul>
                                    </div>
                                    <a href="/index.php?route=product/category&amp;path=20" class="see-all">Show All Desktops</a> </div>
                            </li>
                            <li class="dropdown"><a href="/index.php?route=product/category&amp;path=18" class="dropdown-toggle header-menu" data-toggle="dropdown">Laptops<i class="fa fa-angle-down pull-right"></i></a>
                                <div class="dropdown-menu">
                                    <div class="dropdown-inner">               <ul class="list-unstyled">
                                            <li><a href="/index.php?route=product/category&amp;path=18_46">Macs (9)</a></li>
                                            <li><a href="/index.php?route=product/category&amp;path=18_45">Windows (9)</a></li>
                                        </ul>
                                    </div>
                                    <a href="/index.php?route=product/category&amp;path=18" class="see-all">Show All Laptops</a> </div>
                            </li>
                            <li class="dropdown"><a href="/index.php?route=product/category&amp;path=25" class="dropdown-toggle header-menu" data-toggle="dropdown">Components<i class="fa fa-angle-down pull-right"></i></a>
                                <div class="dropdown-menu">
                                    <div class="dropdown-inner">               <ul class="list-unstyled">
                                            <li><a href="/index.php?route=product/category&amp;path=25_29">1 (8)</a></li>
                                            <li><a href="/index.php?route=product/category&amp;path=25_28">2(10)</a></li>
                                            <li><a href="/index.php?route=product/category&amp;path=25_30">Printers (9)</a></li>
                                            <li><a href="/index.php?route=product/category&amp;path=25_31">Scanners (9)</a></li>
                                            <li><a href="/index.php?route=product/category&amp;path=25_32">Web Cameras (9)</a></li>
                                        </ul>
                                    </div>
                                    <a href="/index.php?route=product/category&amp;path=25" class="see-all">Show All Components</a> </div>
                            </li>
                            <li><a href="/index.php?route=product/category&amp;path=57">Tablets</a></li>
                            <li><a href="/index.php?route=product/category&amp;path=17">Software</a></li>
                            <li><a href="/index.php?route=product/category&amp;path=24">Phones &amp; PDAs</a></li>
                            <li><a href="/index.php?route=product/category&amp;path=33">Cameras</a></li>
                            <li><a href="/index.php?route=product/category&amp;path=42">Home Applinaces</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
{% endblock %}

<div id="{% block workBlockId %}product-category{% endblock %}" class="container upcont">
    <div class="row">
        <aside id="column-left" class="col-md-3 col-sm-4 col-xs-12">
            {% block gamesList %}
                {% if gamePageId is not defined %}
                    {%  set gamePageId = 0  %}
                {% endif %}
                {{ render (controller("ExchangerBundle:Widget:gamesList", { 'gamePageId': gamePageId })) }}
            {% endblock %}

            {% block topDeal %}
                {{ render (controller("ExchangerBundle:Widget:lastNews", { 'limit': 3 })) }}
            {% endblock %}

            {% block subscribtion %}
                <div class="inspire-newsletter  inspire-newsletter pro-bg" id="newsletter_1542655630" data-mode="default">
                <form id="formNewLestter" method="post" action="/index.php?route=extension/module/inspirenewsletter/subscribe" class="formNewLestter newsletter-bg" >
                    <div class="inner">
                        <h2>Newsletter</h2><hr>
                        <div class="description-top">
                            <p> Sign up for our newsletter

                            </p>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control input-md inputNew"  onblur="javascript:if(this.value=='')this.value='Your email address';" onfocus="javascript:if(this.value=='Your email address')this.value='';" value="Your email address" size="18" name="email">
                        </div>
                        <div class="button-submit">
                            <button type="submit" name="submitNewsletter" class="btn btn-danger">Subscribe</button>
                        </div>
                        <input type="hidden" value="1" name="action">
                        <div class="valid"></div>
                        <div class="description-bottom">




                        </div>
                    </div>
                </form>
            </div>
            {% endblock %}

            {% block lastNews %}
                <div>  <div class="testim text-xs-center left-carousel-button">
                    <div id="testi" class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="timg"><img class="img-responsive center-block" src="/image/catalog/testi/testi1.png" alt="testi"></div>
                            <div class="content_test">
                                <h1>orando BLoom</h1>
                                <p>Fusce et ipsum dignissim, consectetur augue ut, consectetur ante. Donec condimentum, eros non lacinia pretium, diam enim sagittis nibh, id consectetur elit tortor efficitur elit.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="timg"><img class="img-responsive center-block" src="/image/catalog/testi/testi2.png" alt="testi"></div>
                            <div class="content_test">
                                <h1>orando BLoom</h1>
                                <p>Fusce et ipsum dignissim, consectetur augue ut, consectetur ante. Donec condimentum, eros non lacinia pretium, diam enim sagittis nibh, id consectetur elit tortor efficitur elit.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="timg"><img class="img-responsive center-block" src="/image/catalog/testi/testi3.png" alt="testi"></div>
                            <div class="content_test">
                                <h1>orando BLoom</h1>
                                <p>Fusce et ipsum dignissim, consectetur augue ut, consectetur ante. Donec condimentum, eros non lacinia pretium, diam enim sagittis nibh, id consectetur elit tortor efficitur elit.</p>
                            </div>
                        </div>
                    </div>
                </div></div>
            {% endblock %}

            {% block leftBanner %}
                <div class="sellbanner col-xs-12">
                <div class="row">
                    <div class="col-xs-12 b-effect-p">
                        <div class="img-effect-p banner-effect">
                            <a href="#">
                                <img src="/image/catalog/leftbanner/left.png" alt="leftbanner" class="img-responsive center-block" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
        </aside>

        {% block content %}{% endblock %}
    </div>
</div>

{% block footer %}{% endblock %}

{#<a href="" id="scroll" title="Scroll to Top" style="display: block;">#}
     {#<i class="fa fa-caret-up"></i>#}
{#</a>#}

{% block javascripts %}
    <script src="/js/catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="/js/catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/catalog/view/javascript/inspire/product-slider-zoom/jquery.elevatezoom.js" type="text/javascript"></script>
    <script src="/js/catalog/view/javascript/countdown/jquery.plugin.min.js" type="text/javascript"></script>
    <script src="/js/catalog/view/javascript/countdown/jquery.countdown.min.js" type="text/javascript"></script>
    <script src="/js/catalog/view/javascript/inspire/custom.js" type="text/javascript"></script>
    <script src="/js/catalog/view/javascript/jquery/swiper/js/owl.carousel.min.js" type="text/javascript"></script>
    <script src="/js/catalog/view/javascript/jquery/magnific/jquery.magnific-popup.min.js" type="text/javascript"></script>
    <script src="/js/catalog/view/javascript/jquery/inspirenewsletter.js" type="text/javascript"></script>
    <script src="/js/catalog/view/javascript/jquery/swiper/js/swiper.jquery.js" type="text/javascript"></script>
    <script src="/js/catalog/view/javascript/common.js" type="text/javascript"></script>

    <script src="/js/backbone/underscore-min.js" type="text/javascript"></script>
    <script src="/js/backbone/backbone-min.js" type="text/javascript"></script>
    <script src="/js/backbone/backbone.marionette.min.js" type="text/javascript"></script>
    <script src="/js/backbone/app.js" type="text/javascript"></script>
    <script src="/js/backbone/controllers/BackboneLoginController.js" type="text/javascript"></script>
    <script src="/js/validator/validator.min.js" type="text/javascript"></script>

    {#<script src="/js/catalog/view/javascript/bootstrap/js/bootstrap-collapse.js"></script>#}
    {#<script src="/js/ex/ex.js" type="text/javascript"></script>#}
    {#<script src="/js/ex/edit.js" type="text/javascript"></script>#}
    {#<script src="/js/ex/select.js" type="text/javascript"></script>#}

    <script src="/js/jquery.lazy-master/jquery.lazy.min.js" type="text/javascript"></script>


    <script type="text/javascript">
        function headermenu() {
            if (jQuery(window).width() < 992)
            {
                jQuery('ul.nav li.dropdown a.header-menu').attr("data-toggle","dropdown");
            }
            else
            {
                jQuery('ul.nav li.dropdown a.header-menu').attr("data-toggle","");
            }
        }

         $(function() {
             $('.lazy').Lazy();
         });

        $(document).ready(function(){headermenu();});
        jQuery(window).resize(function() {headermenu();});
        jQuery(window).scroll(function() {headermenu();});

        $(document).ready(function() {
            $("#testi").owlCarousel({
                itemsCustom : [
                    [0, 1],
                    [768, 1]
                ],
                // autoPlay: 1000,
                navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
                navigation : false,
                pagination:false
            });
        });

        $(document).ready(function () {
            $('#Countdown42').countdown({
                until: new Date(2018, 12-1, 30, 00, 00, 00),
                labels: ['Years', 'Months', 'Weeks', 'Days', 'Hrs', 'Mins', 'Secs'],
                labels1: ['Year', 'Month', 'Week', 'Day', 'Hr', 'Min', 'Sec'],
            });

            $('.accordion').click(function (e) {

                if(
                    (!$(e.currentTarget).hasClass('accordion') && !$(e.target).hasClass('hasChildrenArrow'))
                    ||
                    $(e.target).hasClass('accordionChild-a')
                    ||
                    $(e.target).hasClass('accordionChild-ul')
                ){
                    return;
                }

                $('.accordionChild').not($(this).find('.accordionChild')).addClass('hidden');
                $(this).find('.accordionChild').toggleClass('hidden');

                $('.hasChildrenArrow').not($(this).find('.hasChildrenArrow')).removeClass('fa-angle-up').addClass('fa-angle-down');
                $(this).find('.hasChildrenArrow').toggleClass('fa-angle-down');
                $(this).find('.hasChildrenArrow').toggleClass('fa-angle-up');

                e.preventDefault();
                e.stopPropagation();
            });
        });


    </script>

    {% if javascriptOutput is defined %}
        {{ javascriptOutput|raw }}
    {% endif %}
{% endblock %}

<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
    (function(){ var widget_id = 'l9H84uwOGm';var d=document;var w=window;function l(){var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
</script>
<!-- {/literal} END JIVOSITE CODE -->
</body></html>

