.header-line {
    border-bottom: none;
}

#reg-text-color {
    color: #000000;
}

#btn-close {
    font-size: 30px;
    margin-top: -8px;
}

.btn-reg {
    color: black;
}

.btn-policy-return {
    margin-top:20px;
    color: #222;
    text-shadow: none;
    background-color: #e2b54e;

}

.btn-sign-in {
    margin-top:20px;
    margin-bottom: 10px;
    margin-left: 24%;
    color: #222;
    text-shadow: none;
    background-color: #e2b54e;
    width: 270px;
    height: 30px;
    border: none;
}

.btn-sign-in:hover {
    background-color: #fbb450;
    border-color: #333;
    color: #333;
    border: 1px solid black;
}


#btn-text-color {
    color:black;
}

#btn-text-color:hover {
    background-color: #ffd016;
}

.btn-policy-return:hover {
    background-color: #fbb450;
    border-color: #333;
    color: #333;
}

.policy {
    margin-left:30px;
    margin-bottom: -10px;
    font-size: 13px;
    color:black;
}

.policy-read {
    margin: 0 auto;
    font-size: 13px;
}

.div-policy {
    overflow: scroll;
    height: 500px;
    overflow-x: hidden;
    margin-bottom: 15px;
    border: 1px solid #000000;
    padding: 10px;
    color: black;

}

.div-policy-text {
    font-family: "Times New Roman" ;
    font-size: 15px ;
    font-style: normal;
}

.forgot-me {
    color: black;
    margin-left: -35px;
    font-weight: bold;
    padding-top: 30px;

}

.div-reg-bg {
    background-color: #ffefd5;
}
.div-reg {
    margin-left:15px;
    margin-right:15px;
    margin-bottom: 20px;
}

.div-validation {
    margin-top: -15px;
    margin-bottom: 15px;
    margin-left: 20px;
    font-size: 12px;
    color: red;
}

.validation-cabinet {
    margin-top: -15px;
    margin-bottom: 15px;
    font-size: 12px;
    color: red;
    font-style: normal;
}

a:hover,a:focus{
    outline: none;
    text-decoration: none;
}
.tab{
   background-color: #FFD899;
    padding: 40px 50px;
    position: relative;
    height:110px;
    margin-top: 10px;
    color:#E2B579;

}
.tab:before{
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0.85;
}
.tab .nav-tabs{
    border-bottom: none;
    padding: 0 20px;
    position: relative;
}
.tab .nav-tabs li{ margin: 0 30px 0 0; }
.tab .nav-tabs li a{
    font-size: 18px;
    color: #fff;
    border-radius: 0;
    text-transform: uppercase;
    background: transparent;
    padding: 0;
    margin-right: 0;
    border: none;
    border-bottom: 2px solid transparent;
    opacity: 0.5;
    position: relative;
    transition: all 0.5s ease 0s;
}
.tab .nav-tabs li a:hover{ background: transparent; }
.tab .nav-tabs li.active a,
.tab .nav-tabs li.active a:focus,
.tab .nav-tabs li.active a:hover{
    border: none;
    background: transparent;
    opacity: 1;
    border-bottom: 2px solid #000000;
    color: #fff;
}
.tab .tab-content{
    padding: 20px 0 0 0;
    margin-top: 40px;
    background: transparent;
    z-index: 1;
    position: relative;
}
.form-bg{ background: #ddd; }
.form-horizontal .form-group{
    margin: 0 0 15px 0;
    margin-bottom: 17px;
    position: relative;
}
.form-horizontal .form-control{
    height: 40px;
    background: rgba(255,255,255,0.2);

    border-radius: 2px;
    box-shadow: none;
    padding: 0 20px;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    transition: all 0.3s ease 0s;
    border: 1px solid black;

}
.form-horizontal .form-control:focus{
    box-shadow: none;
    outline: 0 none;
}
.form-horizontal .form-group label{
    padding: 0 20px;
    color: #7f8291;
    text-transform: capitalize;
    margin-bottom: 10px;

}
.form-horizontal .main-checkbox{
    width: 20px;
    height: 20px;
    background: #eec111;
    float: left;
    margin: 5px 0 0 20px;
    border: 1px solid #eec111;
    position: relative;
}
.form-horizontal .main-checkbox label{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
.form-horizontal .main-checkbox label:after{
    content: "";
    width: 10px;
    height: 5px;
    position: absolute;
    top: 5px;
    left: 4px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.form-horizontal .main-checkbox input[type=checkbox]{ visibility: hidden; }
.form-horizontal .main-checkbox input[type=checkbox]:checked + label:after{ opacity: 1; }
.form-horizontal .text{
    float: left;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    margin-left: 7px;
    line-height: 20px;
    padding-top: 5px;
    text-transform: capitalize;
}
.form-horizontal .btn{
    width: 100%;
    background: #eec111;
    padding: 10px 20px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    border-radius: 20px;
    text-transform: uppercase;
    margin: 20px 0 30px 0;
}
.form-horizontal .btn:focus{
    background: #eec111;
    color: #fff;
    outline: none;
    box-shadow: none;
}
.form-horizontal .forgot-pass{
    font-weight: bold;
    margin-top: -15px;
    text-align: center;

}
.form-horizontal .forgot-pass .btn{
    width: auto;
    background: transparent;
    margin: 30px 0 0 0;
    color: #615f6c;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
}
.form-horizontal .forgot-pass .btn:hover{ color: #eec111; }
@media only screen and (max-width: 479px){
    .tab{ padding: 40px 20px; }
}

.div-check-margin{
    margin-left: 20px;
}

#log-pass {
    text-transform: none;
}

#nicknameLogin, #passwordLogin, #confirmPasswordRegister, #passwordRegister, #nicknameRegister, #emailRegister, #nickname, #telegram, #icq, #skype, #password, #email {
    font-style: normal !important;
    font-weight: normal !important;
    padding-left: 15px;
}

#submitLogin, #submitRegister, #submitProfile, #submit, #submitRecovery {
    color: black;
    background-color: #e2b579;

}

#submitLogin:hover, #submitRegister:hover, #submitProfile:hover, #submit:hover, #submitRecovery:hover {
    color: black;
    background-color: #e2c865;

}