/* @font-face{
    font-family: 'Lato-Regular';
    src:url(../../../javascript/inspire/fonts/Lato-Regular.ttf);
}
@font-face{
    font-family: 'Lato-Bold';
    src:url(../../../javascript/inspire/fonts/Lato-Bold.ttf);
} */

.div-style-menu-nav {
	font-weight: bold;
	text-align: center;
	font-family: "Times New Roman";

}
.div-style-cab-nav {
	margin-top: 56px;
	background-color: #e2b579;
}

.div-style-cab-nav-sec {
	background-color: #e2b579;
	border-color: black;
	font-size: 12px;
	padding-left: 5px !important;
	padding-right: 5px !important;
	text-align: center;
	margin-bottom: 3px;

}

.div-style-cab-nav-sec:hover {
	 background-color: #e2c872 !important;
	 color: black !important;
	transition: 0s linear;
 }



.div-style-cabinet {
	margin-top:56px !important;


}
.style-table-head {
	text-align: center;
	background-color: #f7d594 !important;
	border: 1px solid black !important;
}

.table-info-num {
	width: 35px;
	max-width: 35px;
	word-wrap: break-word;
	text-align: center;
	border: 1px solid black !important;
	color: black !important;

}

.table-info-email {
	width: 120px;
	max-width: 120px;
	word-wrap: break-word;
	text-align: center;
	border: 1px solid black !important;
	color: black;
}

.table-info-game {
	width: 150px;
	max-width: 150px;
	word-wrap: break-word;
	text-align: center;
}

.table-info-price {
	width: 90px;
	max-width: 90px;
	word-wrap: break-word;
	text-align: center;
	border: 1px solid black !important;
}

.table-info-coin {
	width: 130px;
	max-width: 130px;
	word-wrap: break-word;
	text-align: center;
	border: 1px solid black !important;
}

.table-info-status {
	width: 70px;
	max-width: 70px;
	word-wrap: break-word;
	text-align: center;
	border: 1px solid black !important;
}

.table-information {
	font-size: 12px;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid black !important;
}

@media (max-width: 768px) {
	.index-img {
		margin-bottom: 20px;

	}

}

.index-img {
	min-width: 280px;
	max-width:330px;
}

#style-icon-head {
	color: gold;
	font-size: 18px;
}

.owl-wrapper-outer{
	box-shadow: none !important;
	border: none !important;
	padding: 0 !important;
}
:focus{
	outline: none;
}
input[type="checkbox"], input[type="radio"] {
    margin: 3px 0 0;
}
input[type="checkbox"]{
	transform: scale(1.1);
}
input[type="file"]:focus, input[type="checkbox"]:focus, input[type="radio"]:focus {
    outline: none;
}
.owl-carousel{
	margin-bottom: 0 !important;
}
/* .select-input::after {
    font-family: 'fontawesome';
    content: '\f107';
    font-size: 14px;
    position: absolute;
    right: 10px;
    top: 7px;
    pointer-events: none;
}
select.form-control {
    appearance: none;
    -o-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}
.form-control {
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
}
.select-input {
    position: relative;
} */
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #272727;
	letter-spacing: 0.4px;
	font-size: 14px;
	line-height: 20px;
	width: 100%;
	background-color: #ffefd4;
}




#text {
	height: 100px;
	background-color: #fff6e7;
	padding-left: 10px;
	padding-top: 5px;
	font-style: normal;
	font-weight: normal;
}

#email {

	font-style: normal;
    padding-left: 10px;
	font-weight: normal;
}

#name {

	font-weight: inherit;
	padding-left: 10px;
	font-style: normal;
}


.comment-size {
	height: 100px;
}

.div-sub-forms {
margin-right: 13px;
}

.btn-style {
	color: #222;
	text-shadow: none;
	background-color: #e2b54e;
	margin-top: 10px;
}

.btn-style:hover {
	background-color: #fbb450;
	border-color: #333;
	color: #333;

}

.div-form-text {
	margin-bottom: -13px;
	font-weight:bold;
}

.div-validation-change {
	font-size: 12px;
	color: red;
}

.time-work:hover {
	color: #ffc15d !important;

}


.div-validation-feedback {
	margin-top: 125px;
	margin-left: 123px;
	font-size: 12px;
	color: red;
}

.div-submit-validation {
	height: 5px;
}
.list-time {
	margin-left: -38px;
}
.time-work{
	font-size: 19px;
	font-family: "Times New Roman";

}
.dropdown-menu {
    box-shadow: 0 0px 5px rgba(0,0,0,.175);
}
 .form-control {
    border: 1px solid #96938d;
    box-shadow: none;
} 
 .form-control:focus {
    border-color: #9f7e3b;
    box-shadow: none;
} 

.product-grid.col-md-4{
	padding-left: 5px;
	padding-right: 5px;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus,a:focus{
    outline: none;
}
a{
	transition: all 0.4s ease-in-out 0s;
}
a:hover,a:focus{
	text-decoration: none;
}
.btn.active, .btn:active{
	box-shadow: none;
}
h1, h2, h3, h4, h5, h6 {
	color: #333;
}
/* default font size */
.fa {
	font-size: 30px;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #222;
}
a:hover {
	text-decoration: none;
	color: #05a0e6;
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 13px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 15px;
    background-color: #fff6e7;

}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}

.nav-tabs {
	margin-bottom: 15px;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
	text-decoration: none;
	color: #05a0e6;
}

.catalog-head{
	font-family: "Times New Roman";
	font-style: normal;
	font-weight: bold;
}
/* top */
#top {
	background-color: black;
	padding: 5px 0;
}
#top #form-currency .currency-select,
#top #form-language .language-select {
	text-align: left;
}
#top .btn-link, #top-links li, #top-links a {
	color: #fff;
	text-decoration: none;
	padding: 0;
	letter-spacing: 0.5px;
	font-size: 13px;
	text-transform: capitalize;
	transition: all 0.4s ease-in-out 0s;
    /* font-family: 'Lato-Bold'; */
    font-family: 'Open Sans', sans-serif;
    border: none;
	/* margin-top: 5px; */
}
#top .btn-link:hover, #top-links a:hover {
	color: #eee;
}
#top-links .dropdown-menu a {
	text-shadow: none;
}
#top-links .dropdown-menu a:hover {
	color: #FFF;
}
#top .btn-link strong {
	font-size: 14px;
        line-height: 14px;
}
#top-links a + a {
	margin-left: 15px;
}
#top .dropdown-menu {
    min-width: 165px;
}
#form-currency .dropdown-menu{
	min-width: 140px;
}
#top #form-currency .currency-select, #top #form-language .language-select {
    text-align: left;
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 5px;    
}
#top .inspire-account ul li{
	text-align: left;
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 5px;
}
#form-language .dropdown-menu .btn-link::before{
	margin: 0 5px !important;
}
#form-currency .dropdown-menu .btn-link::before{
	margin: 0 5px !important;
}
#top .inspire-account ul li a::before{
	margin: 0 5px !important;
}
/* search */
#search .input-lg {
	height: 40px;
	line-height: 20px;
	padding: 0 10px;
}
#search .btn-lg {
	font-size: 15px;
	line-height: 18px;
	padding: 10px 20px;
	background-color: #333;
	border-color: #333;
	color: #fff;
	box-shadow: none;
	transition: all 0.4s ease-in-out 0s;
}
#search .btn-lg:hover {
	background-color: #05a0e6;
	border-color: #05a0e6;
	color: #fff;
}
/* cart */
#cart > .btn {
	font-size: 12px;
	line-height: 18px;
	color: #FFF;
}
#cart.open > .btn {
	background-image: none;
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	color: #666;
	box-shadow: none;
	text-shadow: none;
}
#cart.open > .btn:hover {
	color: #444;
}
#cart .dropdown-menu {
	background: #fff;
	z-index: 1001;
}
#cart .dropdown-menu {
	min-width: 100%;
}
@media (max-width: 478px) {
	#cart .dropdown-menu {
		width: 300px;
	}
}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
	min-width: 427px;
	padding: 0 10px;
}
@media (max-width: 478px) {
	#cart .dropdown-menu li > div {
		min-width: 100%;
	}
}
#cart .dropdown-menu li p {
	margin: 20px 0;
}
/* menu */
#menu {
	background-color: #fff;
	box-shadow:  0px 1px 4px 0 rgba(0,0,0,.09);
}
#menu .nav > li > a:hover{
	color: #05a0e6;
}
#menu .nav > li > a,.view_more {
	color: #272727;
	cursor: pointer;
	padding: 5px 15px;
	min-height: 15px;
	letter-spacing: 0.4px;
	background-color: transparent;
	border-bottom: 1px solid #eaeaea;
}
.view_more {
	border-bottom: none;
}
#menu .nav > li:last-child a {
	border-bottom: 0;
}
#menu .dropdown-menu {
	padding-bottom: 0;
}
#menu .dropdown-inner {
	display: table;
}
#menu .dropdown-inner ul {
	display: table-cell;
}
#menu .dropdown-inner a {
	min-width: 160px;
	display: block;
	padding: 3px 20px;
	clear: both;
	line-height: 20px;
	color: #272727;	
	text-transform: capitalize;
	font-size: 14px;
	letter-spacing:1px;
}
#menu .dropdown-inner li a:hover {
	color: #05a0e6;
}
#menu .see-all {
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #DDD;
	padding: 3px 20px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 3px 3px;
	font-size: 12px;
}
#menu .see-all:hover, #menu .see-all:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#menu #category {
	float: left;
	padding-left: 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#menu .btn-navbar {
	font-size: 15px;
	font-stretch: expanded;
	color: #FFF;
	padding: 0px 18px;
	float: right;
	margin-top: 4px;
	background-color: transparent;
}
/*#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
	color: #ffffff;
	background-color: #229ac8;
}*/
@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}

}
@media (max-width: 767px) {
	#menu {
		position: absolute;
		top: 0;
		background-color: transparent;
		box-shadow: none;
		left: 0;
		margin: 0;
	}
	#menu div.dropdown-inner > ul.list-unstyled {
		display: block;
	}
	#menu div.dropdown-menu {
		margin-left: 0 !important;
	}
	#menu .dropdown-inner {
		display: block;
	}
	#menu .dropdown-inner a {
		width: 100%;
		color: #000;
	}
	#menu .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0;
		color: #fff;
		display: none;
	}
}
/* content */
#content {
	min-height: 600px;
	margin-top: 0px;
}
/* footer */
.home-foot footer{
	margin-top: 0;
}
footer{
	margin-top: 200px;
}

footer {
	padding-top:10px;
	background-color: #272727;
	color: #ccc;
}
footer hr {
	border-top: none;
	border-bottom: 1px solid #666;
}
footer a {
	color: #ccc;
	line-height: 23px;
	letter-spacing:0.5px;
}
footer a:hover,footer a:focus{
	color: #05a0e6;
}
#aboutf p{
	color: #ccc;
	line-height: 25px;
	margin-bottom: 0;
	margin-top: 30px;
	text-align: justify;
}
/* alert */
.alert {
	padding: 8px 14px 8px 14px;
	/* position: absolute; */
	left: 0;
	right: 0;
	top: 0;
	z-index:99;
}
.alert-dismissable .close, .alert-dismissible .close{
	right: 0;
}
/* breadcrumb */
.breadcrumb {
    margin-bottom: 20px;
    padding: 8px 10px;
    background-color: #ffefd4;
    border-radius: 4px;
}
.breadcrumb > li:first-child {
    padding-left: 0;
}
.breadcrumb i {
	font-size: 15px;
}
.breadcrumb a {
    color: #222;
    letter-spacing: 1px;
    font-size: 14px;
    transition: all 0.45s ease 0s;
}
.breadcrumb a:hover{
	color:black;
}
.breadcrumb > li {
	padding: 0 20px;
	position: relative;
	white-space: nowrap;
}
.breadcrumb > li + li:before {
	content: '';
	padding: 0;
}
.breadcrumb > li:after {
	content: '';
	display: block;
	position: absolute;
	top: 5px;
	right: 0;
	width: 9px;
	height: 9px;
	border-right: 2px solid #222;
	border-bottom: 2px solid #222;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.breadcrumb > li:last-child::after {
    border-bottom: 0;
    border-right: 0;
}
.pagination {
	margin: 0;
}
/* buttons */
.buttons {
	margin: 1em 0;
}
.btn {
	padding: 6px 12px;
	font-size: 14px;
	border: 1px solid transparent;
	border-radius: 4px;
	/* font-family: 'Lato-Bold'; */
	font-family: 'Open Sans', sans-serif;
}
.btn-xs {
	font-size: 9px;
}
.btn-sm {
	font-size: 10.2px;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
	font-size: 12px;
}
.btn-group > .btn-xs {
	font-size: 9px;
}
.btn-group > .btn-sm {
	font-size: 10.2px;
}
.btn-group > .btn-lg {
	font-size: 15px;
}
.btn-default {
	color: #fff;
	background-color: #05a0e6;
}
.btn-default:hover,.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus,
.btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default:hover,.btn-default.focus, .btn-default:focus {

    background-color: #222;
    border-color: #222;
}
.btn-primary {
	color: #222;
	text-shadow: none;
	background-color: #e2b54e;
	margin-top: 10px;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus,
.btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover ,.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled],
.btn-primary.focus, .btn-primary:focus,.btn-primary.focus, .btn-primary:focus,.btn-primary.disabled, .btn-primary.disabled.active,
.btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled],
.btn-primary[disabled].active, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
	background-color: #fbb450;
	border-color: #333;
    color: #333;

}
.btn-warning {
	
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {

    background-color: #fbb450;
}
.btn-danger:hover,.btn-danger:active:focus, .btn-danger:active:hover{
	background-color: #05a0e6;
	border-color: #05a0e6;
}
.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
	color: #ffffff;
	text-shadow: none;
	background-color: #05a0e6;
	border-color: #05a0e6;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled],.btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover, .open > .dropdown-toggle.btn-info.focus, .open > .dropdown-toggle.btn-info:focus, .open > .dropdown-toggle.btn-info:hover {
    background-color: #fbb450;
	border-color: #222;
}
.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #23A1D1;
	border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
}
.btn-inverse {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #363636;
	background-image: linear-gradient(to bottom, #444444, #222222);
	background-repeat: repeat-x;
	border-color: #222222 #222222 #000000;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	background-color: #222222;
	background-image: linear-gradient(to bottom, #333333, #111111);
}
/* list group */
.list-group a {
	border: 1px solid #7d7171;
	color: #000;
	/* font-family: 'Lato-Bold'; */
	font-family: 'Open Sans', sans-serif;
	padding: 8px 12px;
	border-radius: 0px !important;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
	color: #05a0e6;
	background: #fff;
	border: 1px solid #7d7171;
}
/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
/* product list */
.product-thumb {
	margin-bottom: 0px;
	overflow: auto;
}
.product-thumb .image {
	text-align: center;
	padding: 0;
}
.product-thumb .image a {
	display: block;
}
.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
}
.product-grid .product-thumb .image {
	float: none;
}
@media (min-width: 767px) {
.product-list .product-thumb .image {
	float: left;
	padding: 0 15px;
	margin-right: 15px;
}
}
/*.product-list .product-thumb .caption {
	margin-left: 230px;
}*/
@media (max-width: 1200px) {
.product-grid .product-thumb .caption {
	padding: 0 10px;
}
}
@media (max-width: 767px) {
.product-list .product-thumb .caption {
	min-height: 0;
	margin-left: 0;
	padding: 0 0px;
}
.product-thumb h4{
	font-size: 14px;
}
.product-grid .product-thumb .caption {
	min-height: 0;
}
}
.product-thumb .rating {
	padding-bottom: 0px;
}
.rating .fa-stack {
	font-size:6px;
}
.rating .fa-star-o {
	color: #ddd;
	font-size: 14px;
}
.rating .fa-star {
	color: #FC0;
	font-size: 14px;
}
.rating .fa-star + .fa-star-o {
	color: #FC0;
}
h2.price {
	margin: 0;
}
.product-thumb .price {
	color: #222;
	font-size: 14px;
	min-height: 21px;
	font-weight: 700;
	letter-spacing: 0;
	margin-bottom: 4px;
}
.product-thumb .price-new {
	/* font-family: 'Lato-Bold'; */
	font-family: 'Open Sans', sans-serif;
	color: #000;
}
.product-thumb .price-old {
	color: #999;
	text-decoration: line-through;
	margin-left: 3px;
}
.product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: block;
}
@media (max-width: 768px) {
	.product-list .product-thumb .button-group {
		border-left: none;
	}
}
.thumbnails {
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}

.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
}
.image-additional {
	max-width: 78px;
}
.thumbnails .image-additional {
	float: left;
	margin-left: 20px;
}

@media (min-width: 1200px) {
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-3:nth-child(4n+1),
	#content .col-lg-4:nth-child(3n+1),
	#content .col-lg-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-3:nth-child(4n+1),
	#content .col-md-4:nth-child(3n+1),
	#content .col-md-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-3:nth-child(4n+1),
	#content .col-sm-4:nth-child(3n+1),
	#content .col-sm-6:nth-child(2n+1) {
		clear:left;
	}
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
    #column-left  .product-layout .col-md-3 {
       width: 100%;
    }

	#column-left + #content .product-layout .col-md-3 {
       width: 50%;
    }

	#column-left + #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }

    #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout, #column-right .product-layout {
	width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 50px;
}

/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled],.btn-info.focus, .btn-info:focus{
    background-image: none;
    background-color: #222;
    border-color: #222;
}

/* custom */
 
    @keyframes color-change {
        0% { color: #fff; }
        50% { color: #fdd922; }
        100% { color: #fff; }
    }
#top .head-social a{
color: #ffc15d;
	margin-left: 55px;
}
#top ul{
	margin-bottom: 0;
}
#top .head-social a:hover{
	cursor: default;
}
#top-links ul{
	margin-bottom: 0;
}
#top-links.nav .open > a, #top-links.nav .open > a:focus, #top-links.nav .open > a:hover{
	background-color: transparent;
	border:none;
}
#top .btn-link::before, #top-links a::before{
	border-left: 1px solid #fff;
	content: '';
	margin: 0 10px;
	height: 10px;
	display: inline-block;
}
#top-links ul li:first-child a::before{
	border-left: 0;
}
#top-links .dropdown-menu button,#top-links .dropdown-menu a{
	color: #222222;
	font-size: 14px;
}
#top-links .dropdown-menu i{
	margin:0 5px;
}
#top-links .dropdown-menu button:hover,#top-links .dropdown-menu a:hover{
	color: #05a0e6;
	background-color: transparent;
}
#search{
	margin-top: 4px;
}
.mcart{
	margin-top: 4px;
}
#logo{
	margin-top: -18px;
}
.cart-tot{
	display: none;
}
.cart-icon {
    background-color: #05a0e6;
    width: 37px;
    height: 37px;
    border-radius: 100%;
    padding-top: 10px;
    font-size: 15px;
    display: inline-block;
}
#cart button{
	background-color: transparent;
	border-color: transparent;
	color: #05a0e6;
	padding: 0;
}
#cart button.dropdown-toggle i{
	color: #fff;
}

.ct{
	display: inline-block;
	position: relative;
	top: 5px;
	text-transform: capitalize;
	font-size: 11px;
	letter-spacing: 0.5px;
	text-align: left;
}
#cart-total {
    font-size: 14px;
    /* font-family: 'Lato-Bold'; */
    font-family: 'Open Sans', sans-serif;
    position: relative;
	top: -4px;
	color: #fff;
}
header {
    background-color: black;
    padding: 20px 0;
}
/* static menu */
#menu1 {
    margin-bottom: 30px;
    padding: 15px 0;

}

.stmenu ul{
	margin-bottom: 0;
	font-weight: bold;
	text-align: center;
	font-family: 'Times New Roman';
}

.cateti h3{
	cursor: pointer;
	margin: 0;
	background-color: #E2B579;
	padding: 15px 15px;
	font-size: 15px;
	color: #000000;
	/* font-family: 'Lato-Bold'; */
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;	
	letter-spacing: 1px;
	position: relative;
	z-index: 1;
}
.cateti i{
	margin: 0 12px;
	font-size: 17px;
}
.stmenu a{
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0px 10px;
    display: inline-block;
    text-transform: none;
}
.stmenu a:hover{
	color: black;
	text-decoration: underline;
}
@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu{
		display: block;
	}
	#menu .dropdown:hover .dropdown-menu{
		display: block;
		padding: 12px 0;
		visibility: visible;
		opacity: 1;
		filter: alpha(opacity=100);
		border-radius: 0;
	}
	#menu .dropdown-menu{
		background: #FFF6E7;
		visibility: hidden;
		display: block;
		opacity: 0;
		filter: alpha(opacity=0);
		-webkit-transition: all 0.35s ease-out 0s;
		-o-transition: all 0.35s ease-out 0s;
		transition: all 0.35s ease-out 0s;
		left: 100%;
		margin: 0 15px !important;
		border: none;
		}
	#menu .nav > li > a::before{
	    background-color: transparent;
	    content: "";
	    height: 3px;
	    left: 0;
	    margin: 0 auto;
	    position: absolute;
	    right: 0;
	    bottom: 0;
	    transition: all 0.4s ease-out 0s;
	    width: 3px;
	}
	#menu .dropdown-menu{
	    padding: 12px 0;
	    min-width: 100%;
	    top: 0;
	}
	.enangle {
    	float: right;
    	transition: all 0.3s ease 0s;
	}
	.hasChildrenArrow {
		float: right;
	}
	#menu li a:hover .enangle{
    	transform: rotate(-90deg);
	}

}
#menu img,.view_more i{
    margin-right: 10px;
    vertical-align: middle;
}
.submenu-title{
	font-weight:600;
	font-size: 14px;
	line-height: 22px;
	position: relative;
	margin: 0 0 4px;
	padding: 4px 0;
}
/* slider */
#slideshow0 .owl-wrapper-outer{
	border-radius: 0;
	box-shadow:  0px 1px 4px 0 rgba(0,0,0,.09) !important;
}
#slideshow0 .owl-pagination{
	position: absolute;
	bottom: 10px;
	top: auto;
	left: 0;
	right: 0;
}
.owl-theme .owl-controls .owl-page span{
	background-color: #222 !important;
	opacity: 1 !important;
	margin: 0 !important;
}
.owl-controls .owl-page.active span{
	background-color: #05a0e6 !important;
}
/* tab product */
.category-tab .nav>li>a{
	padding: 0 10px;
}
.nav-tabs>li{
	float: none;
	display: inline-block;
}
/* product */
#specialpr .product-layout{
	margin-bottom: 10px;
}
#specialpr .product-layout:last-child{
	margin-bottom: 0px;
}
.pro-bg .product-layout.col-xs-12{
	padding: 0 5px;
}
.leftpro h4{
	margin-top: 0;
}
.leftpro .product-layout{
	margin-bottom: 10px;
}
.leftpro .product-layout:last-child{
	margin-bottom: 0px;
}
.owl-carousel .owl-buttons div i {
    font-size: 15px !important;
    position: relative;
	top: 0px;
}
.owl-theme .owl-controls .owl-buttons div {
    padding: 3px 10px !important;
    border-radius: 4px !important;
    background: #cacaca !important;
    opacity: 1 !important;
    width: 26px;
	height: 26px;
	line-height: 22px;
	text-align: center;
}
.owl-theme .owl-controls .owl-buttons div:hover {
    background: #05a0e6 !important;
}
.nav-tabs > li > a{
	color: #3d3d3d;
	font-size: 15px;
	transition: 0.3s;
}
.nav-tabs > li.active > a,.nav-tabs > li > a:hover,.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
	color: #05a0e6;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover,.nav-tabs > li > a,.nav-tabs{
	border:none;
}
.nav > li > a:focus, .nav > li > a:hover{
	background-color: transparent;
}
.product-thumb:hover .second-img, .leftpro:hover .second-img {
    opacity: 1;
}
.product-thumb .second-img, .leftpro .second-img {
    top: 0;
    left: 0;
    margin: 0 auto;
    opacity: 0;
    position: absolute;
    right: 0;
    transition: all 400ms ease-in-out 0s;
    -webkit-transition: all 400ms ease-in-out 0s;
    -moz-transition: all 400ms ease-in-out 0s;
    -o-transition: all 400ms ease-in-out 0s;
    -ms-transition: all 400ms ease-in-out 0s;
}
.tab-content{
	float: left;
	width: 100%;
}
.pro-bg{


	float: left;
	width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 20px;
}
.pro-bg hr{
	clear: both;
	border-top: 1px solid #eaeaea;
}
.pro-bg h2{
	font-size: 20px;
	text-transform: uppercase;
	/* font-family: 'Lato-Bold'; */
	font-family: 'Open Sans', sans-serif;
	margin-top: 10px;
	font-weight: 700;
}
.salepro {
	/* font-family: 'Lato-Bold'; */
	font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 10px;
    left: 10px;           
    font-size:9px;
	font-weight: 700;
	line-height: 38px;
	width: 38px;
	height: 38px;
	text-transform: uppercase;
	top: 2.5%;
	z-index: 100;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	color: #fff;
	right: 10px;
	text-align: center;
	background-color:#ff7878
}
.pro-bg .nav-tabs{
	margin-right: 90px;
	text-align: right;
}
.category-tab h2{
	margin:0;
}
.pro-nepr .owl-theme .owl-controls .owl-buttons .owl-next{
	position: absolute;
	top: -73px;
	right: 0;
}
.pro-nepr .owl-theme .owl-controls .owl-buttons .owl-prev{
	position: absolute;
	top: -73px;
	left: auto;
	right: 35px;
}
.product-thumb h4{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
    padding-bottom:0px;
}
.product-thumb h4 a{
	color: #555;
	font-size: 14px;
	text-transform: capitalize;
}
.product-thumb h4 a:hover,.product-thumb h4:hover{
	color: #05a0e6;
}
svg{
	vertical-align: middle;
}
.button-group button:hover{
	background-color: #333;
	fill: #fff;
}
.button-group button{
	width: 40px;
	height: 40px;
	border: none;
	background-color: #05a0e6;
	border-radius: 50%;
	fill: #fff;
	transition: all 300ms ease-in-out;
}
.pcart svg{
    transform: rotateY(180deg);
}
@media(min-width: 768px){
	.button-group{
		position: absolute;
	    bottom: 100px;
	    left: 0;
	    right: 0;
	    margin: 0 auto;
	    opacity: 0;
        transition: all 410ms ease-in-out;
	}
	.product-thumb:hover .button-group{
		bottom: 110px;
		opacity: 1;
	}
	.product-thumb .is-countdown{
		transition: all 410ms ease-in-out;
	}
	.product-thumb:hover .is-countdown{
		opacity: 0;
	}
}
/* banner */
.fbanner img,.offerbanner img,.sellbanner img{
	box-shadow: 0px 1px 4px 0 rgba(0,0,0,.09);
	border: 1px solid #eaeaea;
}
.fbanner,.sellbanner{
	margin-top: 40px;
	padding: 0;
}
.offerbanner{
	margin-top: 40px;
}
/* left product */
#onsale .image{
	background-color: #f3f3f3;
}
/* testimonial */
.timg img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
#testi h1 {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-top: 15px;
    text-transform: capitalize;
    color: #03a9f5;
}
#testi p {
    padding: 0 3px;
    color: #9A9A9A;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 1px;
}
.center-b{
	margin-top: 30px;
	margin-bottom: 30px;
}
.testim{
    float: left;
    width: 100%;
    margin-top: 40px;
    box-shadow: 0px 1px 4px 0 rgba(0,0,0,.09);
    padding: 20px;
    background-color: #fff;
    text-align: center;
}
/* blog */
.blog-heading{
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    margin: 12px 0 15px 0;
}
/* BLOG START  */
.blog-date{
    float: left;
}
#content .box-product .blog-items {
    display: inline-block;
    float: left;
}
.blog-left {
    margin-bottom: 10px;
}
.date-blog-hr{
    margin-top: 10px;
    margin-bottom: 10px;
}
.the_dated{
    font-size: 40px;
}
.view-blog {
    float: left;
    width: 100%;
    text-align: left;
    margin: 0 0 10px;
}
.read-more {
    float: left;
}
.author {
    color: #808080;
    margin-bottom: 15px;
}
.blog-right .author .fa.fa-user {
    color: #9c9c9c;
    margin-right: 3px;
}
#blog{
	margin-bottom: 0;
}
.blog-desc {
    margin-top: 10px;
    color: #797979;
    text-transform: capitalize;
    font-size: 12px;
    letter-spacing: 1px;
}
.blog-img {
    padding: 10px 0 0;
}
.date-time, .write-comment > a {
    color: #797979;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
}
.date-time{
    margin-left: 5px;
}
#content #blog-carousel, #content #blog-grid {
    padding: 0px 0;
    border: none;
    overflow: visible;
}
#content #blog-carousel .blog-item {
    float: left;
}
.bhome{
	padding-bottom: 0;
}
#content #blog-carousel .product-block:hover, #content #blog-grid .product-block:hover {
    box-shadow: none;
}
.bsp{
	margin:0 5px;
}
a.icon.readmore_link{
    margin-top: 15px;
}
.blog-right h4 a {
    font-size: 14px;
	/* font-family: 'Lato-Bold'; */    
	font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #212121;
}
.blog-right h4{
    margin-top: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.product-block .blog-right h4 a:hover {
    color: #00b9f7;
}
.blog_comment {
    font-size: 16px;
    margin: 0 25px;
    float: left;
}
.blog-right .read_link > a {
    text-decoration: underline;
}
.read_link{
    margin-top: 15px;
}
.read_link .fa.fa-book {
    margin-right: 5px;
}
.inspire-single-blog .blog-desc {
    color: #797979;
    text-align: justify;
    margin-top: 15px;
}
.inspire-single-blog .block-title h3 {
    padding: 10px 0;
    color: #222;
}
.panel {
    box-shadow: none;
}
.blog-comment{
    font-size: 16px;
    color: #00b9f7;
    margin-top: 20px;
}
.inspire-single-blog .view-comment .panel-default {
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    border-left: medium none;
    border-right: medium none;
    box-shadow: none;
    padding: 20px 0;
}
.view-comment .name {
    color: #161b1e;
    font-weight: 700;
}
.view-comment .date {
    color: #bbb;
    font-size: 12px;
}
.inspire-blog-image {
    position: relative;
    transition: all 600ms ease-in-out 0s;
-webkit-transition: all 600ms ease-in-out 0s;
-moz-transition: all 600ms ease-in-out 0s;
-o-transition: all 600ms ease-in-out 0s;
-ms-transition: all 600ms ease-in-out 0s;
}
/*.inspire-blog-image:hover{
    background-color: #000;
    transition: all 600ms ease-in-out 0s;
-webkit-transition: all 600ms ease-in-out 0s;
-moz-transition: all 600ms ease-in-out 0s;
-o-transition: all 600ms ease-in-out 0s;
-ms-transition: all 600ms ease-in-out 0s;
}
.inspire-blog-image:hover img{
    opacity: 0.5;   

}*/
.img-thumbnail{
    border: none;
}
.headingpage{
    font-size: 20px;
    letter-spacing: 1px;
    color: #212121;
}
/* .inspire-post-author{
    text-align: center;
} */
.product-block .blog-left .inspire-post-author {
    bottom: -20px;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    left: 20px;
    position: absolute;
    text-transform: capitalize;
    transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    z-index: 9999;
    text-align: center;
}
.product-block:hover .blog-left .inspire-post-author {
    bottom: 23px;
}

/* .write-comment > a:hover, .product-block .blog-right a:hover {
    color: #fff;
} */
.product-block .blog-left .inspire-post-author::before {
    border-bottom: 1px solid #fff;
    bottom: -7px;
    content: "";
    display: block;
    left: 0;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    width: 30px;
}
.inspire_blog_page .panel-body {
    border: medium none;
    padding: 0px;
}
.inspire_blog_page .inspire-blog-image {
    background-position: center center;
    float: left;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.inspire_blog_page .panel.panel-default {
    border: medium none;
}
.inspire_blog_data_left .blog-date {
    color: #00b9f7;
    font-size: 14px;
}
.inspire_blog_page .panel-body h5 {
    color: #222;
    display: inline;
    font-size: 19px;
    text-transform: capitalize;
}
.blog_links .blog_autor {
    float: left;
    font-size: 12px;
    position: relative;
}
.blog_links .write-comment {
    font-size: 16px;
}
.blog_links .fa {
    margin-right: 5px;
}
.blog_links {
    margin: 8px 0px;
}
.inspire_blog_page .panel-body a {
    color: #2b2b2b;
}
.inspire_blog_page .panel-body a:hover, .inspire_blog_page .panel-body a:focus {
    color: #00b9f7;
}
.inspire_blog_page .read-more {
    float: left;
    text-align: left;
    margin: 20px 0 0;
}
.inspire_blog_page .read-more a {
    background: #222;
    border: 1px solid #222;
    color: #fff;
    display: inline-block;
    padding: 6px 10px;
    transition: all 300ms ease 0s;
    text-transform: capitalize;
    border-radius: 4px;
}
.inspire_blog_page .read-more a:hover {
    background: #00b9f7;
    border: 1px solid #00b9f7;
    color: #fff;
    transition: all 300ms ease 0s;
}
.inspire_blog_page .inspire-blog-image .blog-post-image-hover {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -webkit-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    visibility: hidden;
    width: 100%;
}
.inspire_blog_page .inspire-blog-image .inspire_post_hover .icon.zoom {
    border: 2px solid #fff;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    color: #fff;
    display: inline-block;
    margin-right: 10px;
    opacity: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;
    -ms-opacity: 0;
    -khtml-opacity: 0;
    padding: 10px 14px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    z-index: 10;
}
.inspire_blog_page .inspire-blog-image .inspire_post_hover .icon.zoom .fa, .inspire_blog_page .inspire-blog-image .inspire_post_hover .icon.readmore_link .fa {
    color: #fff;
    font-size: 40px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
.inspire_blog_page .inspire-blog-image .inspire_post_hover .icon.readmore_link {
    border: 2px solid #fff;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    color: #fff;
    display: inline-block;
    opacity: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;
    -ms-opacity: 0;
    -khtml-opacity: 0;
    padding: 10px 14px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    z-index: 10;
}
.inspire_blog_page .inspire-blog-image:hover .blog-post-image-hover {
    opacity: 0.3;
    -moz-opacity: 0.3;
    -webkit-opacity: 0.3;
    -ms-opacity: 0.3;
    -khtml-opacity: 0.3;
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    visibility: visible;
}
.inspire_blog_page .inspire-blog-image:hover .inspire_post_hover, .inspire_blog_page .inspire-blog-image:hover .inspire_post_hover .icon.readmore_link, .inspire_blog_page .inspire-blog-image:hover .inspire_post_hover .icon.zoom {
    opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1;
    -ms-opacity: 1;
    -khtml-opacity: 1;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
.inspire_blog_page .inspire-blog-image .inspire_post_hover .icon.readmore_link:hover, .inspire_blog_page .inspire-blog-image .inspire_post_hover .icon.zoom:hover {
    background-color: #3498db;
    border-color: #3498db;
}
.inspire_blog_page .inspire-blog-image:hover .inspire_post_hover .icon.zoom .fa, .inspire_blog_page .inspire-blog-image:hover .inspire_post_hover .icon.readmore_link .fa {
    font-size: 14px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}

.inspire-single-blog .blog-img {
    padding: 0;
}
#add-comment-blog.panel-default {
    border: medium none;
}
#content.inspire-single-blog > h4 {
    font-weight: 700;
    font-size: 17px;
}
.inspire-single-blog .view-comment .name, .inspire-single-blog .view-comment .date, .inspire-single-blog .view-comment .col-sm-8, .inspire-single-blog .view-comment .col-sm-3 {
    width: 100%;
}
.user_icon {
    background-color: #f8f8f8;
    border: 1px solid #f8f8f8;
    float: left;
    margin: 2px 15px 15px 0;
    padding: 7px 13px;
}
.user_icon .fa {
    color: #d50000;
    font-size: 20px;
    margin-top: 3px;
}
#add-comment-blog .col-sm-10 {
    width: 66.6667%;
}
#add-comment-blog .col-sm-2 {
    width: 25%;
    display: none;
}
.blog_inspire .heading{
    margin-left: 15px;
}
@media(min-width: 980px) and (max-width: 991px){
.product-block .blog-left .inspire-post-author{
      display: none;
}
}
@media(min-width: 992px) and (max-width: 1199px){
.product-block .blog-left .inspire-post-author{
      bottom: -50px;
}
}
@media(min-width: 320px) and (max-width: 767px){
    .blog-right {
        margin-top: 25px;
    }
}
@media(min-width: 320px) and (max-width: 360px){
    .blog_links .write-comment {
        font-size: 13px;
    }
    .blog_comment {
        font-size: 14px;
        margin: 0 10px;
    }

}

@media(min-width: 291px) {

#time-med {
	font-size: 18px !important;
}
	#div-margin-icon {
		margin-bottom: 4px;
	}

}

@media(min-width: 291px) and (max-width: 767px){
	#div-margin-top {
		margin-top: 15px;
	}


}

@media(min-width: 291px) and (max-width: 400px) {
	#div-width-img {
		width: 50px;
	}
}
/* inspire MAGNIFIC POPUP CSS */
.inspire-blog-image .inspire_post_hover {
    left: 0;
    margin: 0 auto;
    opacity: 0;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 46%;
}
.inspire_blog_page .inspire-blog-image .inspire_post_hover {
    top: 45%;
}
.product-block:hover .blog-left .inspire_post_hover, .product-block:hover .blog-left .zoom, .product-block:hover .blog-left .readmore_link {
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -kkhtml-opacity: 1;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
.product-block:hover .blog-post-image-hover {
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -kkhtml-opacity: 1;
}
.product-block .inspire-blog-image .inspire_post_hover .zoom, .product-block .inspire-blog-image .inspire_post_hover .readmore_link {
    display: inline-block;
    float: none;
    color: transparent;
    position: relative;
    width: 40px;
}
.product-block .inspire-blog-image .inspire_post_hover .readmore_link {
    margin-left: 10px;
}
.inspire-blog-image .inspire_post_hover .zoom::before, .inspire-blog-image .inspire_post_hover .readmore_link::before {
    border: 2px solid #fff;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    bottom: 0;
    box-sizing: border-box;
    color: #fff;
    content: "\f00e";
    font-family: "FontAwesome";
    font-size: 14px;
    height: 40px;
    left: 0;
    margin: auto;
    opacity: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;
    -ms-opacity: 0;
    -khtml-opacity: 0;
    padding: 8px 0;
    position: absolute;
    text-align: center;
    top: 0;
    transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    width: 40px;
}
.inspire-blog-image .inspire_post_hover .readmore_link::before {
    content: "\f0c1";
}
.product-block:hover .inspire-blog-image .inspire_post_hover .readmore_link::before, .product-block:hover .inspire-blog-image .inspire_post_hover .zoom::before {
    opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1;
    -ms-opacity: 1;
    -khtml-opacity: 1;
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
.blog-left .inspire-blog-image .zoom:hover::before, .blog-left .inspire-blog-image .readmore_link:hover::before {
    background-color: #00b9f7;
    border-color: #00b9f7;
}
/* BLOG End*/
/* count down */


/* jQuery Countdown styles 2.0.0. */
.is-countdown {
	position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align:center;
}
.countdown-rtl {
	direction: rtl;
}
.countdown-row { width:100%; display:inline-block; }
.countdown-row .countdown-section {
	min-width: 47px;
    margin: 0 5px;
    padding: 5px 5px 5px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 1px 4px 0 rgba(0,0,0,.09);
    display: inline-block;
    border-radius: 4px;
    height: 47px;    
    border: 1px solid #eaeaea;
}
.countdown-row .countdown-section:last-child {
	margin:0 !important;
}
.countdown-amount {
    font-size: 16px;
	/* font-family: 'Lato-Bold'; */
	font-family: 'Open Sans', sans-serif;
	color:#333;
}
.countdown-period {
    font-size: 12px;
    color: #333;
    font-weight: 400;
    display: block;
    margin-top: -3px;
}
.countdown-descr {
	display: block;
	width: 100%;
}
@media (max-width: 1199px){
	.countdown-row .countdown-section {
		min-width: 43px;
	}
	.countdown-amount { font-size:12px; }
	.countdown-period { font-size:11px; line-height:14px; }
	.is-countdown { margin:20px 0 0; }
}
@media (max-width: 992px){
	.is-countdown { padding:30px 5px 10px; }
}
/* newsletter */
.inspire-newsletter p{
	color: #3d3d3d;
	font-size: 15px;
	margin-bottom: 20px;
	text-transform: capitalize;
}
.inspire-newsletter input{
	background-color: #f3f3f3;
	border-radius: 4px;
}
.inspire-newsletter .btn{
	background-color: #05a0e6;
	border-color: #05a0e6;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
	/* border-radius: 20px; */
	/* font-family: 'Lato-Bold'; */
	font-family: 'Open Sans', sans-serif;
	box-shadow: none;
}
/* special */
#specialpr .product-thumb:hover .price, #specialpr .product-thumb:hover .rating{
	opacity: 1;
}
/* logo slider */
.logo-slider .owl-carousel,.logo-slider {
    background-color: transparent;
    padding: 15px 0;
}
.logo-slider{
	margin-left: -15px;
	margin-right: -15px;
	margin-top: 30px;
}
#carousel0{
	background-color: #fff !important;
	box-shadow: 0px 1px 4px 0 rgba(0,0,0,.09);
}
#carousel0 img{
opacity: 0.7;
}
#carousel0 img:hover{
opacity: 1;
}
/* footer */
@media(min-width: 768px){
	.footer-collapse.collapse,#filtercol.collapse {
	    display: block !important;
	    height: auto !important;
	    padding-bottom: 0;
	    overflow: visible !important;
	}
	.middle-footer h5 button,.filtercolb {
    	display: none;
	}
}
footer #column-left1,footer #column-right1{
	width: 100%;
}

.middle-footer #column-right{
	margin-top: 0
}
footer h5::before {
    content: "";
    height: 2px;
    position: absolute;
    top: 35px;
    width: 40px;
    z-index: 3;
}
footer h5{
	font-size: 16px;
	/* font-family: 'Lato-Bold'; */
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 1px;
	margin-bottom: 20px;
}
footer .f-left li i {
    padding-right: 10px;
    font-size: 14px;
    color: #03a9f5;
    width: 30px;
}
footer .f-left li{
	line-height: 28px;
}
footer .f-left li {
	font-size: 15px;
	letter-spacing: 0.5px;
}
#column-left1 p{
	font-size: 15px;
	letter-spacing: 0.5px;	
}
.xs-fab{
	margin:0 -15px;
}
.foot-payment i{
	font-size: 25px;
	margin: 0px;
}
.foot-payment i:hover{
	color: #03a9f5;
}
.foot-payment{
	margin: 0;
}
.foot-power{
	background-color: #1f1e1e;
	padding: 12px 0;
	margin-top: 30px;
}
#scroll:hover {
    background-color: #e2cd11;
    border: 5px solid #e2cd11;

}




#scroll:hover i {


}
#scroll {
    background-color: #e2cd11;
    border: 5px solid #e2cd11;
    position: fixed;
    right: 10px;
    bottom: 70px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    outline: none;
    z-index: 1;
    border-radius: 100%;
    line-height: 28px;
    text-align: center;
    transition: all 400ms ease-in-out 0s;

}
#scroll i {
    color: #fff;
    font-size: 18px;
    line-height: 28px;
}
/* product page */
.allhading,.heading{
	font-size: 18px;
	/* font-family: 'Roboto-Medium'; */
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 20px;
	text-transform: capitalize;
	color: #333;
}
#related{
	background-color: #fff !important;
	border-radius: 2px;
    padding: 0 10px;
}
.propage-tab .nav-tabs {
    margin-bottom: 0;
}
.propage-tab .tab-content {
    background-color: #fff;
    border: 1px solid #ebebeb;
    padding: 10px;
}
.propage-tab .nav-tabs > li > a {
    border-radius: 0;
    margin: 0;
    background-color: #fff;
    border: 1px solid #ebebeb;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    color: #282828;
    border-right: 1px solid #ebebeb;
    letter-spacing: 0;
}
.propage-tab .nav-tabs > li.active > a, .propage-tab .nav-tabs > li.active > a:focus, .propage-tab .nav-tabs > li.active > a:hover {
    border-bottom: 1px solid #ebebeb;
    border: 1px solid #ebebeb;
}
.propage-tab .nav-tabs > li.active > a, .propage-tab .nav-tabs > li.active > a:focus, .propage-tab .nav-tabs > li.active > a:hover {
    color: #05a0e6;
    letter-spacing: 0;
}
.propage-tab .nav-tabs li {
    text-transform: capitalize;
    /* font-family: 'Lato-Bold'; */
    font-family: 'Open Sans', sans-serif;
    position: relative;
    float: left;
}
.propage-tab .nav-tabs {
    border-bottom: none;
}
.pro-price{
	font-size: 18px !important;
}
.palert,#tab-review .alert{
	position: relative;
}
#tab-review i{
	color: #FC0;
}
#tab-specification .table-bordered > thead > tr > td,#tab-specification .table-bordered > tbody > tr > td{
	border: 1px solid #000000;
}
#tab-specification strong{
	color: #05a0e6;
}
.thumbnail {
    position: relative;
    padding: 0;
    background-color: transparent;
    border: none;
}
@media(min-width: 992px){
.proimg{
	position: sticky;
	top: 20px;
}
}
.product-right h1 {
    font-size: 18px;
    text-transform: uppercase;
    color: #161616;
    letter-spacing: 1px;
    margin-top: 0;
}
.product-right .qty-plus-minus .form-control {
    width: 45px;
    text-align: center;
    color: #232d2a;
}
.btnplus {
    border-radius: 0 0px 0px 0 !important;
    border-left: 0;
    line-height: 22px;
}
.btnminus {
    border-radius: 0px 0 0 0px !important;
    border-right: 0;
    line-height: 22px;
}
.prosp {
    border-top: 1px solid #ebebeb;
}
.text-prodecor, .text-de {
    text-transform: capitalize;
    color: #161616;
    font-size: 14px;
    letter-spacing: 1px;
    min-width: 145px;
    display: inline-block;
}
.textdeb {
    color: #05a0e6;
    margin: 0 4px;
}
.textdeb:hover{
    color: #333;
}
.text-prodecor-bold, .text-prodecor-bold h2 {
    text-transform: capitalize;
    color: #161616;
    font-size: 16px;
    letter-spacing: 1px;
}
.custom-radio .img-thumbnail {
    display: block;
    padding: 0;
    border-radius: 4px;
    border: none;
    height: 30px;
    width: 30px;
}
.text-prodecorop {
    text-transform: capitalize;
    color: #161616;
    font-size: 14px;
    letter-spacing: 1px;
}
.datebtn {
    background-color: #05a0e6;
    color: #fff;
    border-radius: 0 0px 0px 0 !important;
    border: 1px solid #05a0e6;
    box-shadow: none;
    transition: all 0.5s linear;
    padding: 6px 12px;
    border-radius: 0 4px 4px 0 !important;
}
.datebtn:hover, .btnup:hover, .add-to-cart:hover,.btnupload:hover,
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus,
.btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover,.btn-primary.focus, .btn-primary:focus,
.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {

    border: 1px solid #333;
}
#additional {
    background-color: transparent;
}
.btnupload {
    color: #fff;
    background-color: #05a0e6;
    border-color: #05a0e6;
    transition: all 0.5s linear;
    font-size: 16px;
    box-shadow: none;
}
.prowritere {
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 30px;
}
.proreviewre {
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 4px;
    text-transform: capitalize;
}
.prodrate {
    font-size: 16px;
    letter-spacing: 1px;
    margin: 5px 0;
}
.zoomWindow{
	border: 1px solid #05a0e6 !important;
	top: 0 !important;
}
.productwish button {
    background-color: transparent;
    color: #05a0e6;
    box-shadow: none;
    border: none;
    font-size: 37px;
    margin-right: 10px;
    padding: 0;
}
.zoomLens{
    border: none !important;
}
.product-right .qty-plus-minus .form-control:focus{
    border-color: #ebebeb;
}
.product-right #input-quantity{
	border-radius: 0;
}
.propage-tab{
	margin-top: 20px;
	margin-bottom: 30px;
}
a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover{
	border:none;
}
/* category page */
.filterp .panel-heading{
    margin-bottom: 20px;
    border-radius: 0;
}
.leftpro .product-thumb .price-new{
    letter-spacing: 0;
    font-size: 13px;
}
.leftpro .product-thumb .price-old {
    letter-spacing: 0;
    font-size: 13px;
}
.panel-default>.panel-heading,.panel-footer{
	background-color: #fff;
    border-radius: 4px;
	color: #03a9f5;
}
.allprobg {
    margin: 0;
    /*background-color: #f8f8f8;*/
    padding: 20px 15px;
    margin-bottom: 30px;
	margin-top: -20px;
}
#column-left .panel-default{
	margin-top: 40px;
    box-shadow: 0px 1px 4px 0 rgba(0,0,0,.09);
    border: none;
    border-radius: 0;
    padding: 5px;
}
.product-thumb .image {
    /*background-color: #f3f3f3;*/
    position: relative;
}
.filter-panel .panel-footer{
	background-color: #fff;
}
.filter-panel .list-group a {
    color: #05a0e6;
    border-bottom: 1px dotted #ddd;
    padding-bottom: 10px;
    font-weight: normal;
}
.filter-panel .list-group a:hover {
    background-color: transparent;
    border-bottom: 1px dotted #ddd;
}
.filter-panel .list-group-item {
    background-color: transparent;
}
.cate-top {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ebebeb;
    border-radius: 4px;
}
.cate-top h2{
	font-size: 18px;
	color: #05a0e6;
	letter-spacing: 0.5px;
	margin-top: 0;
	text-transform: capitalize;
}
.cate-top p{
	font-size: 12px;
	color: #aaa;
	letter-spacing: 0.5px;
	text-transform: capitalize;
}
.cate-top img{
	border-radius: 4px;
}
.cate-border {
    background-color: #fff;
	border: 1px solid #ebebeb;
	border-radius: 4px;
	margin: 25px 0;
	padding: 10px 0px;
}
#compare-total{
	position: relative;
	color: #05a0e6;
	top: -6px;
}
#compare-total:hover{
	color: #222;
}
.catesort label {
    background-color: #fff;
    border: none;
    font-size: 16px !important;
    color: #161616 !important;
}
.select-input::after {
    font-family: 'fontawesome';
    content: '\f107';
    font-size: 14px;
    position: absolute;
    right: 10px;
    top: 7px;
    pointer-events: none;
    z-index: 2;
}
.select-input {
    position: relative;
}
.selectdrop select.form-control {
    appearance: none;
    -o-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}
.listgridbtn img{
	height: 24px;
	width: 24px;
}
.listgridbtn {
    background-color: #fff;
    color: #161616 !important;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 5px !important;
    border: 1px solid #cccccc;
}
.listgridbtn.active, .listgridbtn.active:hover, .listgridbtn:hover {
    border: 1px solid #05a0e6;
    border-radius: 4px;
    background-color: #05a0e6;
    padding: 5px;
    box-shadow: none;
}
.listgridbtn i {
    font-size: 22px;
}
.btn-link:focus, .btn-link:hover{
	text-decoration: none;
}
.product-grid .product-thumb{

}
.product-grid{
	margin-bottom: 25px;
}
@media(min-width: 768px){
	.product-list .product-thumb .caption {
		text-align: left;
	}
	.product-list .product-thumb .button-group{
		text-align: left;
		margin-right: 10px;
	    margin-top: 10px;
	}
}
.product-list .button-group{
	position: unset;
    opacity: 1;
    transition: none;
}
.product-list .product-thumb:hover .button-group{
	opacity: 1;
}
.product-list .image{
	position: relative;
}
.product-list .product-thumb {
	border: none;
}
.product-list{
	margin-bottom: 20px;
    padding: 0 5px;
}
.product-grid .list-des {
    display: none;
}
.list-des{
	text-transform: capitalize;
	color: #282828;
	max-height: 40px;
	overflow: hidden;
}
.product-list .caption h4 a{
	font-size: 18px;
}
.category-products{
    background-color: #fff;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border: 1px solid #eaeaea;
    margin-bottom: 10px;
}
.category-products .product-grid.col-lg-3{
    padding-left: 5px;
    padding-right:5px;
}
.sb-theme-cat-desc{
    background-color: #ffffff;
    margin-top: 10px;
    padding: 10px;
}
.sb-theme-list-grid button{
    padding: 6.5px 12px 8px 11px;
}
.sb-theme-list-grid{
    margin-left: 5px;    
}
.sb-theme-list-grid img{
    width: 16px;
    height: 17px;
}
.sb-theme-list-grid .btn-default{
    border-radius: 0;
    box-shadow: none;
    background-color: #fff;
    outline: none !important;
    background-image: none;
}
.sb-theme-list-grid .btn-default.active{
    background-color: #ffe72f !important;
    border: 1px solid #ddd;
}
.sb-theme-cat-list ul{
    padding: 0;
    margin: 0;
}
.sb-theme-cat-list ul li{
    display:inline;
    float: left;
    margin-left:5px;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    padding:8px 15px 5px;    
}
.sb-theme-cat-list ul li:first-child{
    margin: 0;
}
.sb-theme-cat-list ul li a{
    text-decoration: none;
}
.sb-theme-cat-cmpr a{
    font-size: 15px;
    text-decoration: none !important;    
}
.sb-theme-list-grid button {
    padding: 4.5px 10px 6px 9px !important;
}
/* pagination */
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #000;
    border-color: #000;
}
.pagination > li > a, .pagination > li > span {
    color: #05a0e6;
    padding: 7px 12px 5px 12px;
    border: 1px solid #ececec;
}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    color: #fff;
    background-color: #05a0e6;
    border-color: #05a0e6;
}
.pagi .tot{
	line-height: 34px;
}
/* other page */
.table{
	background-color: #fff;
}
.accountpagebg {
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
}
.accountpagebg .co-heading {
    margin-top: 0;
    font-size: 16px;
    /* font-family: 'Lato-Bold'; */
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 5px 10px 7px 10px;
    background-color: #222;
}
.co-heading {
    margin-top: 0;
    font-size: 18px;
    /* font-family: 'Lato-Bold'; */
    font-family: 'Open Sans', sans-serif;
    color: #222;
}

/* responsive */
@media(min-width: 992px) and (max-width: 1199px){
	.category-tab .nav>li>a {
    	padding: 0 5px;
    	letter-spacing: 0;
    	font-size: 13px;
	}
	.countdown-row { width:100%; display:inline-block; }
	.countdown-row .countdown-section {
	    margin: 0 3px;
	}
	#top .btn-link::before, #top-links a::before {
    	margin: 0 6px;
	}
	#zoom_03 {
    	max-width: 333px;
	}
	#gallery_01 a{
		overflow: hidden;
	}
	.prowrite {
    	font-size: 13px;
	}
	.rating .fa-stack {
    	font-size: 7px;
	}
	.leftpro .product-thumb .price-old{
		display: none;
	}
	.leftpro .rating .fa-stack {
    	font-size: 5px;
	}
	.leftpro .rating .fa-star-o {
    	font-size: 13px;	
	}
}
@media(max-width: 991px){
	.product-right h1{
		margin-top: 15px;
	}
}
@media(min-width: 768px) and (max-width: 991px){
	.leftpro .rating .fa-stack {
    	font-size: 5px;
	}
	.leftpro .rating .fa-star-o {
    	font-size: 13px;	
	}
	.leftpro .product-thumb .price-old{
		display: none;
	}
	.category-tab .nav>li>a {
	    padding: 0 4px;
	    font-size: 13px;
	    letter-spacing: 0;
	    margin-top: 15px;
	}
	.pro-bg .nav-tabs {
	    margin-right: 0;
	    text-align: left;
	}
	.category-tab h2 {
	    float: none !important;
	}
	.countdown-row { width:100%; display:inline-block; }
	.countdown-row .countdown-section {
	    margin: 0 3px;
	}
	.head-social{
		font-size: 12px;
		letter-spacing: 0;
	}
	#top .btn-link::before, #top-links a::before {
    	margin: 0 8px
	}
	.sb-theme-list-grid button {
	    padding: 6.5px 10px 8px 9px !important;
	}
	.catesort {
    	clear: none !important;
	}
	.pro-content{
		margin-top: 15px;
	}
	#menu .dropdown-inner a {
	    min-width: 130px;
	    padding: 3px 5px;
	}
	#specialpr .product-thumb .price-old{
		display: none;
	}
	.foot-payment i {
    	font-size: 25px;
    	margin: 0 0px;
	}
	#aboutf p {
    	max-height: 200px;
    	overflow: hidden;
	}
}
@media(max-width: 767px){
	.pro-bg h2 {
    	font-size: 16px;
	}
	.product-thumb .price-old {
	    margin-left: 0px;
	    font-size: 13px;
	}
	.product-layout .button-group{
		display: none;
	}
	.pro-bg .nav-tabs {
	    margin-right: 0;
	    text-align: center;
	    position: absolute;
	    background-color: #fff;
	    border: 1px solid #eee;
	    border-radius: 4px;
	    padding: 5px 0px;
	    left: 41px;
	    right: 40px;
	    margin-top: 40px;
	    z-index: 9;
	}
	.category-tab .nav-tabs>li {
	    display: block;
	    float: none;
	    padding: 5px 0;
	}
	.catb {
	    background: #fff;
	    color: #111;
	    padding: 0;
	    border: none;
	}
	.catbe{
		text-align: right;
		margin-right: 80px;
	}
	.catb.toggle.collapsed::after {
	    font-family: 'FontAwesome';
	    content: '\f067';
	    font-size: 14px;
	    font-weight: normal;
	    float: right;
	    cursor: pointer;
	}

	.catb.toggle::after {
	    font-family: 'FontAwesome';
	    content: '\f068';
	    font-size: 14px;
	    font-weight: normal;
	    float: right;
	    cursor: pointer;
	}
	.button-group button {
	    width: 30px;
	    height: 30px;
	}
	.button-group button svg {
	    width: 15px;
	    height: 15px;
	}
	/* sidenav */
	body.active {
	    overflow: hidden;
	}
	body.active::before {
	    background: #000000 none repeat scroll 0 0;
	    content: "";
	    height: 100%;
	    left: 0;
	    opacity: 0.7;
	    position: absolute;
	    top: 0;
	    width: 100%;
	    z-index: 999;
	    transition: all .2s ease 0s;
	    -webkit-transition: all .2s ease 0s;
	    -moz-transition: all .2s ease 0s;
	    -ms-transition: all .2s ease 0s;
	    -o-transition: all .2s ease 0s;
	}
	body.active .sidenav {
	    overflow-x: unset;
	    overflow-y: scroll;
	}
	.sidenav {
	    height: 100%;
	    width: 0;
	    position: fixed;
	    z-index: 999;
	    top: 0;
	    left: 0;
	    background-color: #111;
	    transition: 0.5s;
	    padding-top: 60px;
	    overflow-x: hidden;
	    transition: 0.5s;
	    padding-top: 60px;
	    box-shadow: 5px 0 5px 0 rgba(0,0,0,.06);
	    clear: both;
	    height: 100%;
	    background-color: #fff;
	    list-style: none;
	    margin: 0;
	    padding: 0;
	    text-align: left;
	}
	.sidenav .close-nav {
		background-color: #161616;
		padding: 12px 15px;
		width: 100%;
		display: inline-block;
		color: #fff;
		letter-spacing: 1px;
	}
	#mobile_top_menu_wrapper {
	    margin: 0;
	    line-height: 20px;
	    display: block !important;
	}
	.closebtn{
	    float: right;
	}
	.close-nav i{
	    color: #fff;
	    font-size: 16px;
	}
	.navbar-header button{
		border: none;
		background: transparent;
		color: #fff;
		font-size: 16px;
		cursor: pointer;
		vertical-align: bottom;
	}
	#menu .navbar-collapse {
	    display: block;
	}
	.mcart{
		position: absolute;
		top: 45px;
		right: 0;
	}
	.cart-icon {
	    width: 30px;
	    height: 30px;
	    padding-top: 7px;
	}
	header {
    	padding: 10px 0;
	}
	#search {
    	margin-top: 15px;
	}
	#common-home #content {
    	margin-top: 20px;
	}				
}
@media(min-width: 412px) and (max-width: 767px){
	.product-grid, .product-list {
	    width: 33.33%;
	}
}
@media(max-width: 767px){
	.product-thumb .rating {
    	padding-bottom: 5px;
	}
	.pcom {
	    margin-top: 5px;
	}
	.pcart, .pcom {
	    transition: none;
	    opacity: 1;
	    position: unset;
	}
	#compare-total {
	    top: -14px;
	    font-size: 12px;
		text-transform: capitalize;
	}
	.ct {
	    text-align: right;
	}
	#column-left .leftpro,.inspire-newsletter,.sellbanner{
		display: none;
	}
	.filterp.panel-default > .panel-heading {
	    border-color: #000;
	    text-transform: capitalize;
	    font-size: 12px;
	    letter-spacing: 1px;
	    margin: 0;
	    color: #fff !important;
	    background-color: #000;
	    padding: 8px 10px;
	    border-radius: 0px;
	    position: relative;
	}
	.filterp .filtercolb {
	    color: #fff !important;
	    text-shadow: none;
	    background: none;
	    background-image: none;
	    border: 0;
	    box-shadow: none;
	    font-size: 12px;
	    position: absolute;
	    top: 2px;
	    right: 0px;
	}
	.pro-content{
		margin-top: 15px;
	}
	.pro-bg,.fbanner,.logo-slider{
		margin-top: 20px;
	}
	.middle-footer .btn-primary {
	    color: #fff;
	    text-shadow: none;
	    background: none;
	    background-image: none;
	    background-image: none;
	    border: 0;
	    box-shadow: none;
	    font-size: 12px;
	    position: absolute;
	    top: -8px;
	    right: 0;
	    width: 100%;
	}
	.middle-footer h5 button {
	    display: block !important;
	}
	footer h5::before{
		display: none;
	}
	footer h5 .toggle.collapsed::after,.filterp .toggle.collapsed::after {
	    font-family: 'FontAwesome';
	    content: '\f067';
	    font-size: 14px;
	    font-weight: normal;
	    float: right;
	    cursor: pointer;
	}
	footer h5 .toggle::after,.filterp .toggle::after {
	    font-family: 'FontAwesome';
	    content: '\f068';
	    font-size: 14px;
	    font-weight: normal;
	    float: right;
	    cursor: pointer;
	}
	footer .btn-primary.active.focus, footer .btn-primary.active:focus, footer .btn-primary.active:hover,
	footer .btn-primary:active.focus, footer .btn-primary:active:focus, footer .btn-primary:active:hover,
	.open > footer .dropdown-toggle.btn-primary.focus, footer .open > .dropdown-toggle.btn-primary:focus,
	footer.open > .dropdown-toggle.btn-primary:hover {
	    color: #fff;
	    background-color: transparent;
	    border-color: transparent;
	}
	.xs-fab{
		margin: 0 0px;
	}
	footer {
    	padding-top: 20px;
	}
	.foot-power{
		margin-top: 20px;
		text-align: center;
	}
	footer h5 {
    	font-size: 16px;
	    margin-bottom: 15px;
	}
	#aboutf p {
		margin-top: 0;
	}
}
@media(max-width: 599px){
	.pagi .col-xs-6 {
	    width: 100%;
	    text-align: center;
	}
	.catebt, .catesort {
	    width: 100%;
	}
	.catesort {
	    margin-top: 10px;
	}
	.product-grid, .product-list {
	    width: 50%;
	}
	.propage-tab .nav>li>a {
    	padding: 7px 3px;
	}
	.product-list .pcom{
		margin:0;
		margin-top: 10px;
	}
	.catesort {
    	width: 100%;
    	margin-bottom: 10px;
	}
	.prowrite {
    	font-size: 11px;
    	letter-spacing: 0;
	}
	.product-tab .nav > li > a {
    	padding: 10px 6px;
	}
	.proreview {
    	font-size: 14px;
	}
	.rating .fa-stack {
    	font-size: 7px;
	}	
	.pro-bg .nav-tabs {
	    margin-right: 62px;
	    float: none !important;
	}
	.pro-bg .nav > li > a{
		padding: 0;
		margin-right: 10px;
	}
	.fbanner .col-xs-6{
		width: 100%;
	}
	.fbanner #banner0:first-child img{
		margin-bottom: 10px;
	}
	.btnsm1 {
		margin-top: 10px;
	}
}
@media(max-width: 375px){
	.pro-bg .image{
		background-color: #f3f3f3;
	}
}
/* banner effect */
.banner-effect a:hover::after{
    opacity: 1;
    transform: rotate3d(0, 0, 0, 0deg);
    transition-delay: 0.1s;
}
.banner-effect a::after {
    background-color: rgba(255, 255, 255, 0.3);
    content: "";
    bottom: 10px;
    left: 10px;
    right: 10px;
    top: 10px;
    opacity: 0;
    position: absolute;
    transform: rotate3d(1, 1, 0, 100deg);
    transition: all 0.7s ease 0s;
}
.banner-effect a {
    display: block;
    overflow: hidden;
    position: relative;
}
/*loader start */
#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 64px;
    width: 64px;
    margin-left: -30px;
}
#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: -1;
    opacity: 0;
    -moz-transition: all 1.3s ease 0.3s;
    -o-transition: all 1.3s ease 0.3s;
    -webkit-transition: all 1.3s ease 0.3s;
    transition: all 1.3s ease 0.3s;
    overflow: hidden;
}
#page-preloader.visible {
    opacity: 1;
    z-index: 100500;
    overflow: hidden;
}
#page-preloader .preloader {
    position: absolute;
    left: 50%;
    top: 45%;
    text-align: center;
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    opacity: 0;
}
#page-preloader.visible .preloader {
    opacity: 1;
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.object{
	position: absolute;
    top: 0px;
    z-index: 4;
    background: url('../../../../../image/catalog/loader.gif') 50% 50% no-repeat;
    height: 80px;
    width: 80px;
    margin-left: -9px;
}
#page-preloader{
    display: none;
}
#page-preloader{
    display: block;
}
#review .fa-stack{
	width: 1em;
}
.well{
	background-color: #ffefd4;
	border-color: #ffefd4;
	box-shadow: none;
}
@media(max-width: 767px){
	#column-left{
		display: none;
	}
}

.forg-password {
	margin-top:5px;
	color: #0000ee;
}

.forg-pass-text {

	color: #0000ee ;
}

.forg-pass-text:hover {
	color: #46b1ee !important;
}

.font-gold {
	color: #ffc15d !important;
    font-size: 19px;
}

.font-gold:hover {
    color: #ffe900;
    font-size: 19px;
}

#reghover:hover {
	color: #ffe900 !important;
}

.font-size-3em {
	font-size: 3em !important;
}
.general-bg {
	border: 1px solid #ffefd5;;
}

.general-bg:hover {
	/*background: #f8f8f8 !important;*/

	border: 1px solid #ffefd5;;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.custom-bg-gameslist {
	background-color: #FFF6E7;
}
.col-lg-9 {
	max-width: 100%
}

.textarea.form-control {
	height: 100px;
}


.button-reg {
	margin-top:-5px;
	margin-left:15px;
}


*,
*:before,
*:after {
	box-sizing: border-box;
}




/* grid */
.rows {
	margin: 0px;

}
.rows:last-child {
	margin-bottom: 0;
}


@media all and ( min-width: 600px ) {

	.col-2-3 {
		padding: 20px;
		/*background-color: red;*/
		float: left;
		width: 212px;
		padding-top: 0px;
		font-family: Times New Roman;
		font-size: 17px;
	}
	.col-2-4 {
		padding: 20px;
		/*background-color: red;*/
		float: left;
		width: 424px;
		padding-top: 0px;
		font-family: Times New Roman;
		font-size: 17px;
	}

	.div-authorization {
		margin-top: -25px;

	}
	.col-1-2 {
		/*background-color: red;*/
		padding: 20px;
		float: left;
		width: 212px;;
		padding-top: 0px;
		font-family: Times New Roman;
		font-size: 17px;
	}

	.col-1-8 {
		/*background-color: red;*/
		padding: 20px;
		float: left;
		width: 424px;
		padding-top: 0px;
		font-family: Times New Roman;
		font-size: 17px;
	}

	.col-1-9 {
		/*background-color: red;*/

		padding: 20px;
		float: left;
		width: 50%;
		padding-top: 0px;
		font-family: Times New Roman;
		font-size: 17px;
	}

	.col-button{
		margin-left: 240px;
	}

	.form-comments {
		width: 350px;
		height: 80px;

	}

	.select-order {
		width: 180px;
		height: 30px;
		background-color: #fff6e7;

	}

    .form-order{
        width: 180px;
        height: 30px;
        background-color: #fff6e7;

    }
}

*,
*:before,
*:after {
	box-sizing: border-box;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
@media all and ( min-width: 600px ) {

	.col-2-3-3 {

		float: left;
		min-width: 30.66%;
		height: 100px;
	}
	.col-1-2-2 {

		font-size: 17px;
		float: right;
		width: 260px;
		margin-top: 10px;
	}

	.col-1-2-3 {

		font-size: 17px;
		float: right;
		width: 275px;
		margin-top: 10px;
	}

	.col-1-2-1 {

		font-size: 17px;
		float: right;
		width: 200px;
		margin-top: 10px;
	}
}


.iconfromheader {
	padding-right: 10px;
	color: gold !important;
	font-size: 15px;
	font-style: normal;

}

.iconfromheader:hover {

	color: gold;
	font-size: 15px;
}

.iconfromheader:active {

	color: gold;
	font-size: 15px;
}


.sub-menu {
	font-weight: bold;
	list-style: none;
}

.min-news-div{
	width:99%;
	min-height: 50px;
	margin-bottom: 5px;
}
.minnewsname{
	font-family: Times New Roman;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 20px;
}
.min-news-header{
	font-family: Times New Roman;
	color: rgba(76, 65, 16, 0.87);
	font-size: 17px;
	margin-bottom: 2px;
	text-decoration:underline;
}
.min-news-header:hover {
	color: #29a5ff;
	text-decoration:underline;
}

.min-news{
	font-family: Times New Roman;

}

.min-news-date{
	font-family: Times New Roman;
	margin-left: 77%;
	font-size: 13px ;
	font-weight: bold;
}

.min-more-news {
	font-family: Times New Roman;
	margin-bottom: -10px;
	color: rgba(76, 65, 16, 0.87);
	font-size: 16px ;
	text-decoration:underline;
}
.min-more-news:hover{
	color: #29a5ff;
	text-decoration:underline;
}

.formElementError {
	border: 1px solid red;
}

.div-mail-err {
	height: 20px;
	margin-top: -15px;
}


.col-1-4n {
	float: left;
	width: 30%;
	height:270px;
	margin-left:20px;

	font-family: Times New Roman;

}
.col-1-8n {
	float: left;
	width: 98.5%;
	margin-left:10px;
	margin-top:25px;

	font-family: Times New Roman;

}
.number-page {
	color: black;
	background-color: #e2b54e;
	min-width: 20px;
	height:20px;
	text-align:center;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 1px;
	border-radius: 2px;
	float: left;
	margin-left:3px;

}
.number-page:hover {
	background-color: #e2cd11;
	border-radius: 2px;

}

.block-num {
	margin:0 auto;
	width: 230px;
	margin-bottom:60px;
	font-weight: bold;
}
.min-news-text{
	font-size: 15px;
	padding-top: 5px;

}
.comm {
	font-weight: bold;
	font-size: 13px;
	font-family: Times New Roman;
	padding-top: 3px;

}

.text-for-form {
	margin-bottom: 5px;

}

.summ{
	float: left;
	font-weight: bold;
	font-size: 13px;
	font-family: Times New Roman;
	padding-top: 3px;

}

.image-margin {

}

@media (width:768px) {
	.image-margin {
	margin-top:300px;
	}
}

.div-margin-fot {
	margin-bottom: -35px;
	margin-top: -8px;
}

.icon-bar {
	background-color: #ffc15d;
}

@media only screen and (min-width: 768px) {
	.dropdown:hover .dropdown-menu  {
		display: block;
	}
}
@media only screen and (max-width: 768px) {
	#navbar {
		float: left !important;
		width: 100%;
	}



	.width-dropdown {
		width: 100%;

	}

	.divborder {
		display: none;
	}
}

@media (min-width: 600px)  and (max-width: 1199px) {
	#div-margin-icon{
		width: 200px;

	}

	#sizeicon {

		visibility: hidden;
	}

	.hidentext {

		visibility: hidden;
	}
	.col-2-3-3{

	}

	#height-head{
		visibility: hidden;

	}

	.div-margin-icon{
		visibility: hidden;
	}

	.iconfromheader {
		visibility: hidden;
	}

	.hidlogo {
		visibility: hidden;
	}

	.stmenu {
		margin-top: -180px;

	}

}


@media (min-height: 400px) {
	#Section2 {
		overflow: auto;
	}
}

@media (min-width: 769px)  and (max-width: 989px) {
	#menu1 {
		margin-top: -80px;

	}
	.upcont{
		margin-top: -90px;
	}
}

.li-menu-style {
	color: black;
	font-size: 18px;
	padding-left: 10px;
	padding-right: 10px;

}
.li-menu-style:hover {
	color: black !important;
	background-color: #e2c872 !important;
}

.nav-head {
	float:right;
}

.li-dropdown-bg {
	background-color: black !important;
}
.menu-font-gold:hover {
	color:  #ffe900; !important;
	transition-delay: 0s !important;
}

.drop-menu {
	background-color: #e2b579 !important;
	border-radius: 0px !important;
	margin-left: 13px !important;

}

.btn-buy {
	border-radius: 20px;
	font-weight: bold;
}


.alert-flash {
max-width: 460px;
margin-left: 15px;
}



.divborder {
	border-right: 1px solid #DEAA56;
	height: 15px;
	margin-top: 18px;
}

.regpolicy {
	color: #348dff;
	text-decoration: underline;
}

.regpolicy:hover {
	color: #3b6eff;
}

.submit_email {
	text-decoration: underline;
	color: #348dff;
	font-weight: bold;
}

.submit_email:hover {
	color: #3b6eff;
	text-decoration: underline;
}

.photo {
	display: inline-block; /* Строчно-блочный элемент */
	position: relative; /* Относительное позиционирование */
}
.photo:hover::after {
	content: attr(data-title); /* Выводим текст */
	position: absolute; /* Абсолютное позиционирование */
	left: 90%; top: -60%; /* Положение подсказки */
	z-index: 1; /* Отображаем подсказку поверх других элементов */
	background: rgba(255,255,230,0.9); /* Полупрозрачный цвет фона */
	font-family: "Times New Roman", sans-serif; /* Гарнитура шрифта */
	font-size: 12px; /* Размер текста подсказки */
	padding: 2px 2px; /* Поля */
	border: 1px solid #333; /* Параметры рамки */
}

.table_exchange {
	border-top: 1px solid black ;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
	bottom: .5em;
}


/* БИРЖА */

table.sortable a.sortheader {
	background-color:#eee;
	color:#666666;
	font-weight: bold;
	text-decoration: none;
	display: block;
}
table.sortable span.sortarrow {
	color: black;
	text-decoration: none;
}


#nav{

	width:100%;
	list-style:none;


}
#nav li{

	position:relative;
	display:block;
	margin-right: 30px;
}

.chosen-select-ex {
	width: 100%;

}

/*--- ВЫПАДАЮЩИЕ ПУНКТЫ ---*/
#nav ul{
	list-style:none;
	position:absolute;
	left:-9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */

}

#nav ul a{
	white-space:nowrap; /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
	display:block;
}
#nav li:hover ul{ /* Выводим выпадающий пункт при наведении курсора */
	left:0; /* Приносим его обратно на экран, когда нужно */
	opacity:1; /* Делаем непрозрачным */
}

#nav li:hover ul a{ /* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */
	text-decoration:none;
	-webkit-transition:-webkit-transform 0.075s linear;
}
#nav li:hover ul li a:hover{ /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */


	text-decoration:underline;
}

.in-active {
	opacity: 0.5;
}

.td_edit_select_server, .td_edit_select_side, .td_edit_quantity, .td_edit_price {
	background-color: #EAE6E6;
	cursor: pointer;
	width: 100px;
}

#alert-edit-sell {
	display: none;
}



/*.style-table {*/

	/*border: 1px solid grey;*/
/*}*/

/*table {*/
	/*font-family: Times New Roman;*/

	/*text-align: center;*/
	/*box-sizing: content-box ;*/
/*}*/


/*.col-md-4 {*/
	/*float:left;*/
/*}*/


/*.table-style-href {*/
	/*width:100%;*/
/*}*/
/*.table-style-href:hover {*/
	/*background-color: aqua;*/
/*}*/

/*.table-cell:hover{*/
	/*background-color: #ffe8f5;*/

/*}*/

/*.table-a {*/

	/*color: black;*/
/*}*/

/*.table-a:hover {*/
	/*text-decoration:none;*/
	/*color: black;*/
/*}*/

/*.users-style{*/
	/*overflow-y: scroll;*/
	/*heigt: 10px;*/
/*}*/

/*.btn-buy {*/
	/*height: 20px;*/



/*}*/
/*.btn-buy-text{*/
	/*margin-top: -5px;*/

/*}*/

/*.search-form{*/
	/*width: 70%;*/
	/*margin-left: 1%;*/


/*}*/
/*.search-submit{*/

	/*margin-left: 2%;*/

/*}*/

/*.div-search {*/
	/*float:left;*/
	/*width: 98%; height: 40px;*/
	/*margin-left: 2%;*/
	/*margin-top: 20px;*/

/*}*/

/*.div-left {*/

	/*float:left;*/
	/*width: 20%;*/
	/*margin-top: 20px;*/
	/*margin-right: 1%;*/
/*}*/

/*.game-catalog {*/
	/*font-size: 20px;*/
	/*margin-bottom: -15px;*/
	/*font-weight: bold;*/
/*}*/

/*.div-left-menu {*/
	/*float:left;*/
	/*width:	98%;*/
	/*height:1000px;*/
	/*margin-top: 30px;*/
	/*margin-left:2%;*/
/*}*/

/*.width-search {*/
	/*width: 1000px;*/
/*}*/

/*.div-right {*/
	/*float:left;*/
	/*background-color: yellow;*/
	/*width: 17%;*/
	/*margin-left: 1%;*/

/*}*/

/*.div-table{*/
	/*width: 60%;*/
	/*float: left;*/
	/*margin-top:40px;*/
/*}*/

/*.div-right{*/
	/*width: 18%;*/
	/*float: left;*/
	/*margin-top:40px;*/
/*}*/

/*.submit-feedback {*/
	/*margin-left:-218%;*/
/*}*/






/*
 * Стили для меню аккордеон
 */
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,cyrillic);*/
/*#menu,*/
/*#menu ul,*/
/*#menu ul li,*/
/*#menu ul li a {*/
	/*position: relative;*/
	/*display: block;*/
	/*-webkit-box-sizing: border-box;*/
	/*-moz-box-sizing: border-box;*/
	/*box-sizing: border-box;*/
	/*margin: 0;*/
	/*padding: 0;*/
	/*border: 0;*/
	/*list-style: none;*/
	/*line-height: 1;*/
/*}*/
/*#menu {margin: 0 auto;*/
	/*width: 100%;*/
	/*box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.45);*/
	/*color: #ffffff;*/
	/*font-family: 'Open Sans', Calibri, Arial, sans-serif;*/
/*}*/
/*#menu ul ul {*/
	/*display: none;*/
/*}*/
/*.align-right {*/
	/*float: right;*/
/*}*/
/*#menu > ul > li > a {*/
	/*z-index: 2;*/
	/*padding: 15px 20px;*/
	/*border-top: 1px solid #1682ba;*/
	/*border-right: 1px solid #1682ba;*/
	/*border-left: 1px solid #1682ba;*/
	/*background: #36aae7;*/
	/*background: -webkit-linear-gradient(#36aae7, #1fa0e4);*/
	/*background: -moz-linear-gradient(#36aae7, #1fa0e4);*/
	/*background: -o-linear-gradient(#36aae7, #1fa0e4);*/
	/*background: -ms-linear-gradient(#36aae7, #1fa0e4);*/
	/*background: linear-gradient(#36aae7, #1fa0e4);*/
	/*box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);*/
	/*color: #fff;*/
	/*text-decoration: none;*/
	/*text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);*/
	/*font-weight: 400;*/
	/*font-size: 15px;*/
	/*cursor: pointer;*/
/*}*/
/*#menu > ul > li > a:hover,*/
/*#menu > ul > li.active > a,*/
/*#menu > ul > li.open > a {*/
	/*background: #1fa0e4;*/
	/*background: -webkit-linear-gradient(#1fa0e4, #1992d1);*/
	/*background: -moz-linear-gradient(#1fa0e4, #1992d1);*/
	/*background: -o-linear-gradient(#1fa0e4, #1992d1);*/
	/*background: -ms-linear-gradient(#1fa0e4, #1992d1);*/
	/*background: linear-gradient(#1fa0e4, #1992d1);*/
	/*color: #eeeeee;*/
/*}*/
/*#menu > ul > li.open > a {*/
	/*border-bottom: 1px solid #1682ba;*/
	/*box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.15);*/
/*}*/
/*#menu > ul > li:last-child > a,*/
/*#menu > ul > li.last > a {*/
	/*border-bottom: 1px solid #1682ba;*/
/*}*/
/*.holder {*/
	/*position: absolute;*/
	/*top: 0;*/
	/*right: 0;*/
	/*width: 0;*/
	/*height: 0;*/
/*}*/
/*.holder::after,*/
/*.holder::before {*/
	/*position: absolute;*/
	/*right: 20px;*/
	/*z-index: 10;*/
	/*display: block;*/
	/*width: 6px;*/
	/*height: 6px;*/
	/*content: "";*/
	/*-webkit-transform: rotate(-135deg);*/
	/*-moz-transform: rotate(-135deg);*/
	/*-ms-transform: rotate(-135deg);*/
	/*-o-transform: rotate(-135deg);*/
	/*transform: rotate(-135deg);*/
/*}*/
/*.holder::after {*/
	/*top: 17px;*/
	/*border-top: 2px solid #ffffff;*/
	/*border-left: 2px solid #ffffff;*/
/*}*/
/*#menu > ul > li > a:hover > span::after,*/
/*#menu > ul > li.active > a > span::after,*/
/*#menu > ul > li.open > a > span::after {*/
	/*border-color: #eeeeee;*/
/*}*/
/*.holder::before {*/
	/*top: 18px;*/
	/*border-top: 2px solid;*/
	/*border-top-color: inherit;*/
	/*border-left: 2px solid;*/
	/*border-left-color: inherit;*/
/*}*/
/*#menu ul ul li a {*/
	/*z-index: 1;*/
	/*padding: 10px 20px;*/
	/*border-right: 1px solid #32373e;*/
	/*border-bottom: 1px solid #32373e;*/
	/*border-left: 1px solid #32373e;*/
	/*background: #49505a;*/
	/*box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);*/
	/*color: #eeeeee;*/
	/*text-decoration: none;*/
	/*font-size: 15px;*/
	/*cursor: pointer;*/
/*}*/
/*#menu ul ul li:hover > a,*/
/*#menu ul ul li.open > a,*/
/*#menu ul ul li.active > a {*/
	/*background: #424852;*/
	/*color: #fff;*/
/*}*/
/*#menu ul ul li:first-child > a {*/
	/*box-shadow: none;*/
/*}*/
/*#menu ul ul ul li:first-child > a {*/
	/*box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);*/
/*}*/
/*#menu ul ul ul li a {*/
	/*padding-left: 30px;*/
/*}*/
/*#menu > ul > li > ul > li:last-child > a,*/
/*#menu > ul > li > ul > li.last > a {*/
	/*border-bottom: 0;*/
/*}*/
/*#menu > ul > li > ul > li.open:last-child > a,*/
/*#menu > ul > li > ul > li.last.open > a {*/
	/*border-bottom: 1px solid #32373e;*/
/*}*/
/*#menu > ul > li > ul > li.open:last-child > ul > li:last-child > a {*/
	/*border-bottom: 0;*/
/*}*/
/*#menu ul ul li.has-sub > a::after {*/
	/*position: absolute;*/
	/*top: 11.5px;*/
	/*right: 20px;*/
	/*z-index: 10;*/
	/*display: block;*/
	/*width: 5px;*/
	/*height: 5px;*/
	/*border-top: 2px solid #eeeeee;*/
	/*border-left: 2px solid #eeeeee;*/
	/*content: "";*/
	/*-webkit-transform: rotate(-135deg);*/
	/*-moz-transform: rotate(-135deg);*/
	/*-ms-transform: rotate(-135deg);*/
	/*-o-transform: rotate(-135deg);*/
	/*transform: rotate(-135deg);*/
/*}*/
/*#menu ul ul li.active > a::after,*/
/*#menu ul ul li.open > a::after,*/
/*#menu ul ul li > a:hover::after {*/
	/*border-color: #ffffff;*/
/*}*/
/*!**/
 /** Стили для поиска*/
 /**!*/
/*input.search-query {*/

/*}*/
/*form.form-search {*/
	/*position: relative;*/
	/*width: 100%;*/
/*}*/
/*form.form-search:before {*/
	/*display: block;*/
	/*width: 14px;*/
	/*height: 14px;*/
	/*content: "\e003";*/
	/*font-family: 'Glyphicons Halflings';*/
	/*background-position: -48px 0;*/
	/*position: absolute;*/
	/*top:8px;*/
	/*left:8px;*/
	/*opacity: .5;*/
	/*z-index: 1000;*/
/*}*/

