{% extends 'AdminBundle::layout.html.twig' %}

{% block head %}
    <meta charset="UTF-8">
    <title>Обратная связь</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="">
    <meta name="keywords" content="coco bootstrap template, coco admin, bootstrap,admin template, bootstrap admin,">
    <meta name="author" content="Huban Creative">

    <!-- Base Css Files -->
    <link href="/admin/libs/jqueryui/ui-lightness/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />
    <link href="/admin/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/admin/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/admin/libs/fontello/css/fontello.css" rel="stylesheet" />
    <link href="/admin/libs/animate-css/animate.min.css" rel="stylesheet" />
    <link href="/admin/libs/nifty-modal/css/component.css" rel="stylesheet" />
    <link href="/admin/libs/magnific-popup/magnific-popup.css" rel="stylesheet" />
    <link href="/admin/libs/ios7-switch/ios7-switch.css" rel="stylesheet" />
    <link href="/admin/libs/pace/pace.css" rel="stylesheet" />
    <link href="/admin/libs/sortable/sortable-theme-bootstrap.css" rel="stylesheet" />
    <link href="/admin/libs/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
    <link href="/admin/libs/jquery-icheck/skins/all.css" rel="stylesheet" />
    <!-- Code Highlighter for Demo -->
    <link href="/admin/libs/prettify/github.css" rel="stylesheet" />

    <!-- Extra CSS Libraries Start -->
    <link href="/admin/libs/jquery-datatables/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/admin/libs/summernote/summernote.css" rel="stylesheet" type="text/css" />
    <link href="/admin/libs/jquery-datatables/extensions/TableTools/css/dataTables.tableTools.css" rel="stylesheet" type="text/css" />
    <link href="/admin/css/style.css" rel="stylesheet" type="text/css" />
    <!-- Extra CSS Libraries End -->
    <link href="/admin/css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="/admin/img/favicon.ico">
    <link rel="apple-touch-icon" href="/admin/img/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/admin/img/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/admin/img/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/admin/img/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/admin/img/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/admin/img/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/admin/img/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/admin/img/apple-touch-icon-152x152.png" />
{% endblock %}

{% block page %}
    {#{% for flashMessage in app.session.getFlashes() %}  {{ flashMessage }} {% endfor %}#}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <!-- Page Heading Start -->
    <div class="page-heading">
        <h1><i class='fa fa-table'></i> Игры</h1>
    </div>
    <!-- Page Heading End-->

    <!-- Your awesome content goes here -->
    <div class="row">

        <div class="col-sm-12 portlets">

            <div class="widget">
                <div class="widget-header transparent">
                    <h2><strong>Обращение {{ feedback.id }}</strong></h2>
                    <div class="additional-btn">
                        <a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
                        <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                        <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
                    </div>
                </div>
                <div class="widget-content padding">
                    <div id="basic-form">

                        <form role="form" method="post" action="" enctype="multipart/form-data">
                            <table id="datatables-1" class="table table-striped table-bordered dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="datatables-1_info" style="width: 100%;">
                                <thead>
                                <tr role="row">
                                    <th class="" tabindex="0" aria-controls="datatables-1" rowspan="1" colspan="1" style="width: 100px;">Id</th>
                                    <th class="sorting" tabindex="0" aria-controls="datatables-1" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 50px;">Name</th>
                                    <th class="sorting" tabindex="0" aria-controls="datatables-1" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 50px;">Email</th>
                                    <th class="sorting_asc" tabindex="0" aria-controls="datatables-1" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 50px;">Text</th>
                                    <th class="sorting_asc" tabindex="0" aria-controls="datatables-1" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 50px;">Дата</th>
                                    <th class="sorting_asc" tabindex="0" aria-controls="datatables-1" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 50px;">Отвечено/Не отвечено</th>
                                </tr>
                                </thead>

                                <tbody>
                                    <tr role="row" class="odd">
                                        <td class="sorting_1">{{ feedback.id }}</td>
                                        <td class="sorting_1">{{ feedback.name }}</td>
                                        <td class="sorting_1">{{ feedback.email }}</td>
                                        <td class="sorting_1">{{ feedback.text }}</td>
                                        <td class="sorting_1">{{ feedback.date | date('d.m.y H:i:s') }}</td>
                                        <td class="sorting_1">
                                            <select name="status">
                                                <option value="0" {% if 0 == feedback.answered %}selected{% endif %}>Не отвечено</option>
                                                <option value="1" {% if 1 == feedback.answered %}selected{% endif %}>Отвечено</option>
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <button type="submit" class="btn btn-default" name="editfeedback" id="editfeedback">Ответить задроту</button>
                        </form>

                        <div>
                            <br />
                        </div>

                        <form id="answerForm" method="post" action="" class="hidden">
                            <textarea name="answer" rows="8" cols="100"></textarea>
                            <br />
                            <button type="submit" class="btn btn-default" name="answerSubmit" id="answerSubmit">Отправить ответ</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-sm-6 portlets"></div>
    </div>
    <!-- End of your awesome content -->
{% endblock %}

{% block jsBlock %}
    <script src="/admin/libs/jquery/jquery-1.11.1.min.js"></script>
    <script src="/admin/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="/admin/libs/jqueryui/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="/admin/libs/jquery-ui-touch/jquery.ui.touch-punch.min.js"></script>
    <script src="/admin/libs/jquery-detectmobile/detect.js"></script>
    <script src="/admin/libs/jquery-animate-numbers/jquery.animateNumbers.js"></script>
    <script src="/admin/libs/ios7-switch/ios7.switch.js"></script>
    <script src="/admin/libs/fastclick/fastclick.js"></script>
    <script src="/admin/libs/jquery-blockui/jquery.blockUI.js"></script>
    <script src="/admin/libs/bootstrap-bootbox/bootbox.min.js"></script>
    <script src="/admin/libs/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="/admin/libs/jquery-sparkline/jquery-sparkline.js"></script>
    <script src="/admin/libs/nifty-modal/js/classie.js"></script>
    <script src="/admin/libs/nifty-modal/js/modalEffects.js"></script>
    <script src="/admin/libs/sortable/sortable.min.js"></script>
    <script src="/admin/libs/bootstrap-fileinput/bootstrap.file-input.js"></script>
    <script src="/admin/libs/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="/admin/libs/bootstrap-select2/select2.min.js"></script>
    <script src="/admin/libs/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/admin/libs/pace/pace.min.js"></script>
    <script src="/admin/libs/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/admin/libs/jquery-icheck/icheck.min.js"></script>

    <!-- Demo Specific JS Libraries -->
    <script src="/admin/libs/prettify/prettify.js"></script>

    <script src="/admin/js/init.js"></script>
    <!-- Page Specific JS Libraries -->
    <script src="/admin/libs/jquery-datatables/js/jquery.dataTables.min.js"></script>
    <script src="/admin/libs/jquery-datatables/js/dataTables.bootstrap.js"></script>
    <script src="/admin/libs/jquery-datatables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>

    <script src="/admin/libs/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="/admin/libs/bootstrap-inputmask/inputmask.js"></script>
    <script src="/admin/libs/summernote/summernote.js"></script>
    <script src="/admin/js/pages/forms.js"></script>
    <script src="/admin/js/customJs/feedbackEdit.js"></script>
    <script src="/admin/js/pages/tabs-accordions.js"></script>
{% endblock %}