{# src/Blogger/BlogBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}

{% block navTop %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>



    <nav id="top">

        <div class="container" >
            <div class="navbar-header" >
                <button type="button" id="btnNavbarMobile" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <i class="navbar-brand fa font-gold time-work" href="#" id="time-med">Время работы с 8:00 до 22:00</i>
            </div>


            <div id="navbar" class="navbar-collapse collapse nav-head" >
                <ul class="nav navbar-nav fa font-gold width-dropdown"  style="float: right;">

                    {#<li class="active fa font-gold"><a href="/cabinet" id="wishlist-total" class="fa font-gold">{{ user.name }}</a></li>#}

                    {#<li class="active fa font-gold"><a href="/logout" id="wishlist-total" class="fa font-gold">Выход</a></li>#}
                    {% if user is null %}
                        <li>
                            <a id="loginTopLink" href="/login" id="wishlist-total" title="">
                                <i class="fa font-gold" id="reghover">Вход</i>
                            </a>
                        </li>
                        <li>
                            <div class="divborder"></div>
                        </li>
                        <li>
                            <a id="registerTopLink" href="/register" id="wishlist-total" title="">
                                <i class="fa font-gold" id="reghover">Регистрация</i>
                            </a>
                        </li>
                    {% else %}
                        <li class="dropdown" >
                            <a href="#" class=" fa font-gold li-dropdown-bg menu-font-gold" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="reghover">Кабинет <span class="caret"></span></a>
                            <ul class="dropdown-menu drop-menu" >
                                <li><a href="/cabinet/profile" id="wishlist-total" class="fa li-menu-style" >Управление аккаунтом</a></li>
                                <li><a href="/cabinet" class="fa li-menu-style" id="wishlist-total" >История заказов</a></li>

                                {#<li><a href="#">Something else here</a></li>#}
                                {#<li role="separator" class="divider"></li>#}
                                {#<li><a href="#">Separated link</a></li>#}
                                {#<li><a href="#">One more separated link</a></li>#}
                            </ul>
                        </li>
                        <li>
                            <div class="divborder"></div>
                        </li>
                        <li>
                            <a href="/cabinet" id="wishlist-total" title="">
                                <i class="fa font-gold menu-font-gold" id="reghover">{{ user.name }}</i>
                            </a>
                        </li>
                        <li>
                            <div class="divborder"></div>
                        </li>
                        <li>
                            <a href="/logout" id="wishlist-total" title="">
                                <i class="fa font-gold menu-font-gold menu-font-gold" id="reghover">Выход</i>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>

            <!--/.nav-collapse -->

        </div>
        <!--/.container-fluid -->

    </nav>
    <!--/.navbar -->


    <script>
        $('.dropdown-toggle').click(function(e) {
            if ($(document).width() > 768) {
                e.preventDefault();
                var url = $(this).attr('href');
                if (url !== '#') {
                    window.location.href = url;
                }
            }
        });

        setTimeout(function(){$('.box').fadeOut('fast')},3000);
    </script>


    {#<nav id="top">#}
        {#<div class="container">#}
            {#<div class="row">#}
                {#<div class="col-md-6 col-sm-4 hidden-xs">#}
                    {#<ul class="list-inline list-unstyled head-social list-time">#}
                        {#<li><a href="#" class="time-work">Время работы с 8:00 до 22:00</a></li>#}
                    {#</ul>#}
                {#</div>#}
                {#<div id="top-links" class="text-right col-md-6 col-sm-8 col-xs-center">#}
                    {#<ul class="list-inline">#}
                        {#{% if user is null %}#}
                            {#<li>#}
                                {#<a id="loginTopLink" href="/login" id="wishlist-total" title="">#}

                                    {#<i class="fa font-gold">Вход</i>#}
                                {#</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a id="registerTopLink" href="/register" id="wishlist-total" title="">#}

                                    {#<i class="fa font-gold">Регистрация</i>#}
                                {#</a>#}
                            {#</li>#}
                        {#{% else %}#}
                            {#<li>#}
                                {#<a href="/cabinet" id="wishlist-total" title="">#}

                                    {#<i class="fa font-gold">{{ user.name }}</i>#}
                                {#</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a href="/logout" id="wishlist-total" title="">#}

                                    {#<i class="fa font-gold">Выход</i>#}
                                {#</a>#}
                            {#</li>#}
                        {#{% endif %}#}
                    {#</ul>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</nav>#}
{% endblock %}

{% block header %}
    <header id="height-head"   >
        <div class="container" style="margin-top: -15px; " >
            <div class="row"  >


                    <div >
                        <div >
                            <div class="col-2-3-3 hidlogo" >
                                <a href="/"><img class="index-img" src="/image/catalog/l7.png" title="Your Store" alt="Your Store"/></a>
                            </div>
                         <div >
                            <div class="col-1-2-3" id="div-margin-icon" >
                                <a class="iconfromheader" href="http://fb.com/groups/goldbuy.store" target="_blank" ><img src="/image/header/facebook.png" class="iconfromheader" id="sizeicon"/>fb.com/groups/goldbuy.store</a>
                            </div>

                            <div class="col-1-2-2 colsm-1-2-2" id="div-margin-icon" >
                                <a class="iconfromheader" href="https://t.me/gold_buy" target="_blank" ><img src="/image/header/telegram.png" class="iconfromheader" id="sizeicon"/>gold_buy</a>
                            </div>

                            <div class="col-1-2-1" id="div-margin-icon" >
                                <a class="iconfromheader" href="skype:goldbuy.store" target="_blank"><img src="/image/header/skype.png" class="iconfromheader" id="sizeicon"/>goldbuy.store</a>
                            </div>

                            <div class="col-1-2-3 colsm-1-2-2" id="div-margin-icon">
                                <a class="iconfromheader" href="http://vk.com/goldbuy.store" target="_blank" ><img src="/image/header/vk.png" class="iconfromheader" id="sizeicon"/>vk.com/goldbuy.store</a>
                            </div>

                            <div class="col-1-2-2" id="div-margin-icon">
                                <i class="iconfromheader" ><img src="/image/header/mail.png" class="iconfromheader" id="sizeicon"/>goldbuy.store@gmail.com</i>
                            </div>

                            <div class="col-1-2-1 colsm-1-2-2" id="div-margin-icon">
                                <i class="iconfromheader" ><img src="/image/header/icq.png" class="iconfromheader" id="sizeicon"/>746301489</i>
                            </div>
                        </div>

                        </div>
                    </div>



                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block menu %}
    <div class="stmenu">
        <div class="container hidden-xs">
            <div  id="menu1">
                <div class="manun">
                    <ul class="list-inline" >
                        <li><a href="/">Главная</a></li>
                        <li><a href="/news">Новости</a></li>
                        <li><a href="/suppliers">Поставщикам</a></li>
                        <li><a href="/reviews">Отзывы</a></li>
                        <li><a href="/discounts">Скидки</a></li>
                        {#<li><a href="/guarantees">Гарантии</a></li>#}
                        <li><a href="/payment">Оплата</a></li>
                        {#<li><a href="/about">О нас</a></li>#}
                        <li><a href="/contacts">Контакты</a></li>
                        <li><a href="/feedback">Обратная связь</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block mobileTopNavigation %}{% endblock %}

{#{% block topDeal %}{% endblock %}#}
{% block subscribtion %}{% endblock %}
{% block lastNews %}{% endblock %}
{% block leftBanner %}{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
    <footer>

        <div>

        </div>
        <div class="container div-margin-fot">
            <div class="row">

                <div class="middle-footer">

                    <div class="col-sm-5">
                        <div class="xs-fab">
                            <h5 class="marginfotertext" id="h5footerAboutf" ">Принимаем к оплате<button type="button" class="btn btn-primary toggle collapsed" data-toggle="collapse" data-target="#aboutf"></button></h5>
                            <div id="aboutf" class="collapse footer-collapse">
                                <ul class="list-unstyled">
                                    <li><a href="/index.php?route=information/contact"><img src="/image/footer/webmoney_icon.png" hspace="10" vspace="5" align="left" id="div-width-img"></a></li>
                                    <li><a href="/index.php?route=product/special"><img src="/image/footer/qiwi_icon.png" hspace="13" vspace="2" align="left" id="div-width-img"></a></li>
                                    <li><a href="/index.php?route=affiliate/login"><img src="/image/footer/yandex_icon.png" hspace="13" vspace="5" id="div-width-img" ></a></li>
                                    <li><a href="/index.php?route=product/manufacturer"><img src="/image/footer/mastercard_icon.png" hspace="13" vspace="20" align="left" id="div-width-img"></a></li>
                                    <li><a href="/index.php?route=information/sitemap"><img src="/image/footer/visa_icon.png" hspace="13" vspace="20" id="div-width-img"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <h5 id="h5footerAccount">Навигация
                            <button type="button" class="btn btn-primary toggle collapsed" data-toggle="collapse" data-target="#account"></button>
                        </h5>
                        <div id="account" class="collapse footer-collapse">
                            <ul class="list-unstyled lastb">
                                <li><a href="/">Главная</a></li>
                                <li><a href="/news">Новости</a></li>
                                <li><a href="/suppliers">Поставщикам</a></li>
                                <li><a href="/reviews">Отзывы</a></li>
                                <li><a href="/discounts">Скидки</a></li>
                                {#<li><a href="/guarantees">Гарантии</a></li>#}
                                <li><a href="/payment">Оплата</a></li>
                                {#<li><a href="/about">О нас</a></li>#}
                                <li><a href="/contacts">Контакты</a></li>
                                <li><a href="/feedback">Обратная связь</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="xs-fab">
                            <aside id="column-right">
                                <div>  <h5 id="h5footerContact"><span>Контакты</span>
                                        <button type="button" class="btn btn-primary toggle collapsed" data-toggle="collapse" data-target="#contact"></button>
                                    </h5>
                                    <div id="contact" class="collapse footer-collapse footcontact">
                                        <ul class="list-unstyled f-left">
                                            <li><img src="/image/footer/skype_icon.png" hspace="7" vspace="2">goldbuy.store</li>
                                            <li><img src="/image/footer/telegram_icon.png" hspace="7" vspace="2">gold_buy</li>
                                            <li><img src="/image/footer/icq_icon.png" hspace="7" vspace="2">746301489</li>
                                            <li><img src="/image/footer/email_icon.png" hspace="7" vspace="2">goldbuy.store@gmail.com</li>
                                            <li><img src="/image/footer/vk_icon.png" hspace="7" vspace="2">vk.com/goldbuy.store</li>
                                            <li><img src="/image/footer/facebook_icon.png" hspace="7" vspace="2">fb.com/groups/goldbuy.store</li>
                                        </ul>
                                    </div></div>

                            </aside>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="foot-power">
            <div class="container">
                <div>
                    © 2017 gold-buy.ru Все права защищены
                    <span><a href="https://passport.webmoney.ru/asp/certview.asp?wmid=217423226113" target="_blank"><img src="/image/footer/v_blue_on_white_ru.png" border="0" style="float:right;"/></a></span>

                </span>


            </div>
        </div>
    </footer>

    {{ render (controller("ExchangerBundle:Login:renderLoginForm")) }}
{% endblock %}



