{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends 'ExchangerBundle::layout.html.twig' %}

{% block content %}
    <div id="content" class="col-xs-12 col-sm-8 col-lg-7 col-md-9">
        <ul class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i></a></li>
            <li><span>Подтверждение регистрации</span></li>
        </ul>

        <h3>{{ approvedMessage }}</h3>


    </div>

{% endblock %}