<link href="/css/catalog/view/theme/default/stylesheet/stylesheet-register.css" rel="stylesheet">
<script src="/js/catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="/js/catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<div id="modal-login" class="modal" style="display: none; position: absolute;">
    <div class="modal-dialog">
        <div class="modal-content div-reg-bg" >
            <div class="modal-header header-line">
                <button type="button" class="close" id="btn-close-login-form" data-dismiss="modal" aria-hidden="true"  >×</button>

            </div>
            <div class="div-reg-bg">
                <div class="div-reg">
                    <div class="row">
                        <div >

                            <div class="tab" role="tabpanel">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li id="sectionLiLogin" role="presentation" class="sectionLogin active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab" id="reg-text-color">Вход</a></li>
                                    <li id="sectionLiRegister" role="presentation" class="sectionLogin"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab" id="reg-text-color">Регистрация</a>
                                    <li id="sectionLiRemember" role="presentation" class="sectionLogin"><a href="#Section3" aria-controls="profile" role="tab" data-toggle="tab"></a></li>
                                    <li id="sectionLiPrivacy" role="presentation" class="sectionLogin"><a href="#Section4" aria-controls="profile" role="tab" data-toggle="tab"></a></li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content tabs">

                                    <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                                        <div id="loginErrorDiv" class="alert alert-danger sectionDivInfo hidden">
                                            Неверный логин или пароль <button type="button" class="close" id="btn-close-login-form-error" data-dismiss="modal" aria-hidden="true">×</button>
                                        </div>
                                        <form class="form-horizontal" id="div-log-margin">
                                            <div class="form-group" id="div-log-margin">
                                                <label for="nicknameLogin" id="log-pass">Логин или email</label>
                                                <input type="email" value="" name="nicknameLogin" class="form-control" id="nicknameLogin">
                                            </div>

                                            <div id="nicknameLoginValidation " class="div-validation hidden">
                                                Вы не ввели логин или Email
                                            </div>

                                            <div class="form-group" id="div-log-margin">
                                                <label for="passwordLogin">Пароль</label>
                                                <input type="password" class="form-control" value="" name="passwordLogin" id="passwordLogin">
                                            </div>

                                            <div id="passwordLoginValidation" class="div-validation hidden ">
                                                Вы ввели некорректный пароль
                                            </div>

                                            <div class="form-group">


                                            </div>
                                            <div class="form-group">
                                                <button type="submit" value="login" name="submitLogin" class="btn" id="submitLogin">Войти</button>
                                            </div>
                                            <div class="form-group forgot-pass">

                                                <a href="#Section3" aria-controls="profile" role="tab" data-toggle="tab">Напомнить пароль</a>
                                            </div>
                                        </form>
                                    </div>

                                    <div role="tabpanel" class="tab-pane fade" id="Section2">
                                        <div id="registerSuccessDiv" class="alert alert-success sectionDivInfo hidden">
                                            Вам отправленно письмо с подтверждением на емейл.
                                        </div>
                                        <div id="registerErrorDiv" class="alert alert-danger sectionDivInfo hidden box">
                                            Пользователь с таким емейлом или именем уже существует
                                        </div>

                                        <form class="form-horizontal">
                                            <div class="form-group" id="div-log-margin">
                                                <label for="nicknameRegister">Логин</label>
                                                <input type="text" value="" placeholder="Введите имя" name="nicknameRegister" class="form-control" id="nicknameRegister">
                                            </div>

                                            <div id="nicknameRegisterValidation" class="div-validation hidden">
                                               Вы не ввели имя
                                            </div>

                                            <div class="form-group">
                                                <label for="emailRegister">Email</label>
                                                <input type="email" value="" placeholder="Введите Email" id="emailRegister" name="emailRegister" class="form-control">
                                            </div>

                                            <div id="emailRegisterValidation" class="div-validation hidden">
                                                Некорректный Email адрес
                                            </div>

                                            <div class="form-group">
                                                <label for="passwordRegister">Пароль</label>
                                                <i><input type="password" value="" class="form-control" id="passwordRegister" placeholder="минимум 5 символов"></i>
                                            </div>
                                            <div class="form-group">
                                                <i><input type="password" value="" class="form-control" id="confirmPasswordRegister" placeholder="подтвердите пароль"></i>
                                            </div>

                                            <div id="passwordRegisterValidation" class="div-validation hidden">
                                                Вы не ввели пароль или пароли не совпадают
                                            </div>

                                            <div style="margin-bottom: 10px; margin-left: 25px;">
                                                <p class="policy">Регистрируясь вы соглашаетесь с  <a href="#Section4" aria-controls="profile" role="tab" data-toggle="tab"><b class="regpolicy">правилами</b></a> сервиса</p>
                                            </div>

                                            <div class="form-group">
                                                <button type="submit" class="btn" value="register"  id="submitRegister">зарегистрироваться</button>
                                            </div>

                                        </form>
                                    </div>

                                    <div role="tabpanel" class="tab-pane fade " id="Section3">
                                        <div id="recoverySuccessDiv" class="alert alert-success sectionDivInfo hidden">
                                            Письмо со ссылкой на смену пароля успешно выслано вам на почту.
                                        </div>
                                        <div id="recoveryErrorDiv" class="alert alert-danger sectionDivInfo hidden">
                                            Такой Email не найден в базе пользователей.
                                        </div>
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <label for="emailRecovery">Email</label>
                                                <input type="email" value="" name="emailRecovery" class="form-control" id="emailRecovery">
                                            </div>

                                            <div id="emailRecoveryValidation" class="div-validation hidden">
                                                Некорректный Email адрес
                                            </div>

                                            <div class="form-group">
                                                <button type="submit" class="btn" id="submitRecovery">Отправить пароль</button>
                                            </div>
                                        </form>
                                    </div>

                                    <div role="tabpanel" class="tab-pane fade" id="Section4" >

                                        <div class="div-policy">
                                                <i class="div-policy-text">Правила являются обязательными для исполнения всеми присутствующими на сайте.
                                            <br>Администрация оставляет за собой право блокировать пользователей, нарушающих Порядок и Правила.
                                            <br>Кроме того, Администрация оставляет за собой право изменять данные Правила.<br><br>

                                               <b>1. Регистрация.</b><br>
                                            <p>  1.1 Регистрация не является обязательной частью присутствия на сайте. Прохождение регистрации автоматически обозначает Ваше согласие с данными Правилами. (Если Вы не согласны с данными Правилами, напишите пожалуйста Администрации форума и Ваша учетная запись будет деактивирована.)</p><br>
                                             1.2. Если имя или email, которое Вы выбрали для участия на сайте:<br>
                                             - несет в себе рекламу сайтов<br>
                                             - содержит ненормативную лексику<br>
                                             - сходно до степени смешения с именем модератора или координатора форума,<br>
                                             то Ваша учётная запись будет деактивирована без предупреждения.<br><br>
                                            <p> 1.3. Пользователь обязуется не передавать другим лицами свои персональные данные, полученные при регистрации (логин и пароль) для входа/идентификации на ресурс и несет полную ответственность за утерю, пропажу, исчезновение или передачу иными способами персональных данных, а также за последствия связанные с данным деянием.</p><br>
                                                <b>2. Общие правила.</b><br>
                                                Все пользователи, которые приобретают игровые ценности соглашаються с рисками покупки этих игровых ценностей (игровая валюта, акаунты, услуги).<br>
                                                Администрация не несет ответсвености за:<br>
                                                - блокировку акаунта после покупки игровых ценностей (игровая валюта, акаунты, услуги).<br>
                                                - несвоевременную передачу  игровых ценностей (игровая валюта, акаунты, услуги) после покупки.  <br><br>
                                                Администрация оставляет за собой право в отказе от выплат продавцу или покупателю при попытке обмана администрации.<br><br>
                                                Если Вы не согласны с каким-либо пунктом правил, просим покинуть сайт.
                                            </i>
                                            </div>
                                        <div class="form-group">
                                            <p > <a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab" class="policy-read"><b >Я прочитал(а) правила</b></a> </p>

                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div><!-- /.col-md-offset-3 col-md-6 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->

            </div>
        </div>
    </div>
</div>
<div id="backDrop" class="modal-backdrop in" style="display: none"></div>
<script type="text/javascript">
    $(".btn_more1").click(function() {
        $(this).prev("div.ctn_more1").slideToggle("slow");
    });
</script>