{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends 'ExchangerBundle::layout.html.twig' %}

{% block content %}
    <div id="content" class="col-sm-4 col-md-6 col-xs-12">
        <ul class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i></a></li>
            <li><span>Вход</span></li>
        </ul>
        <div class="row">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            <div class="col-sm-12 div-authorization">
                <div class="well">

                    <br/>
                    <form action="/login" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="control-label" for="input-email">Email</label>
                            <input type="text" name="email" value=""  id="Email" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="input-password">Пароль</label>
                            <input type="password" name="pass" value=""  id="input-password" class="form-control" />
                            <div class="forg-password"><a href="/recoverypass" class="forg-pass-text">Напомнить пароль</a></div>

                        </div>
                        <input type="submit" value="Войти" class="btn btn-primary" />

                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}