{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends 'ExchangerBundle::layout.html.twig' %}

{% block content %}
    <div id="content" class="col-sm-4 col-md-6 col-xs-12">
        <ul class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i></a></li>
            <li><span>Восстановление пароля</span></li>
        </ul>
        <div class="row">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            <div class="col-sm-12">
                <div class="well">
                    <h2>Восстановление пароля</h2>
                    <br />
                    <form action="" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="control-label" for="input-email">Новый пароль</label>
                            <input type="text" name="newPass" value="" placeholder="новый пароль" id="newPass" class="form-control" />
                        </div>
                        <input type="submit" name="recoveryPassActSubmit" id="submit" value="Изменить пароль" class="btn btn-primary" />
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}