{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends 'ExchangerBundle::layout.html.twig' %}

{% block content %}
    <div id="content" class="col-sm-4 col-md-6 col-xs-12 ">
        <ul class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i></a></li>
            <li><span>Восстановление пароля</span></li>
        </ul>
        <div class="row div-authorization">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            <div class="col-sm-12">
                <div class="well">

                    <br />
                    <form action="/recoverypass" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="control-label" for="input-email">Email</label>
                            <input type="text" name="email" value="" placeholder="Email" id="email" class="form-control" />
                        </div>
                        <input type="submit" name="recoveryPassSubmit" id="submit" value="Восстановить пароль" class="btn btn-primary" />
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}