{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends 'ExchangerBundle::layout.html.twig' %}

{% block content %}
    <div id="content" class="col-xs-12 col-sm-8 col-lg-9 col-md-9">
        <ul class="breadcrumb">
            <li><a href="http://1376325.testop03.web.hosting-test.net/index.php?route=common/home"><i class="fa fa-home"></i></a></li>
            <li><a href="http://1376325.testop03.web.hosting-test.net/index.php?route=information/contact">Контакты</a></li>
        </ul>

        <b>Skype:</b> goldbuy.store <br>
        <b>Telegram:</b> gold_buy <br>
        <b>ICQ:</b> 746301489 <br>
        <b>Email:</b> goldbuy.store@gmail.com <br>
        <b>Вконтакте:</b> vk.com/goldbuy.store <br>
        <b>Facebook:</b> fb.com/groups/goldbuy.store

    </div>
{% endblock %}