{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends 'ExchangerBundle::layout.html.twig' %}

{% block content %}
    <div id="content" class="col-xs-12 col-sm-8 col-lg-9 col-md-9">
        <ul class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i></a></li>
            <li><span>Отзывы</span></li>
        </ul>
        {#<h1 class="co-heading">Отзывы</h1>#}
        <div id="mc-review"></div>
        <script type="text/javascript">
            cackle_widget = window.cackle_widget || [];
            cackle_widget.push({widget: 'Review', id: 64530});
            (function() {
                var mc = document.createElement('script');
                mc.type = 'text/javascript';
                mc.async = true;
                mc.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cackle.me/widget.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(mc, s.nextSibling);
            })();
        </script>
    </div>
{% endblock %}