{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends 'ExchangerBundle::layout.html.twig' %}
{% block gamesList %}{% endblock %}
{% block topDeal %}{% endblock %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap Agency Page Template</title>
        <!-- Include all compiled plugins (below), or include individual files as needed -->




    </head>
    <body>



    <div class="container">
        <div class="row">

            <!-- Меню вкладок -->
            <ul class="nav nav-tabs" role="tablist" >
                <li role="presentation" class="active" ><a href="#example2-tab1" aria-controls="example2-tab1" role="tab" data-toggle="tab">Покупка</a></li>
                <li role="presentation"><a href="#example2-tab2" aria-controls="example2-tab2" role="tab" data-toggle="tab">Продажа</a></li>
                <li role="presentation"><a href="#example3-tab3" aria-controls="example3-tab3" role="tab" data-toggle="tab">Чат<i style="font-style: normal; font-size: 14px;"> (999)</i></a></li>
                <li role="presentation"><a href="#example4-tab4" aria-controls="example4-tab4" role="tab" data-toggle="tab">Статистика</a></li>
            </ul>

            <!-- Таб панель -->

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="example2-tab1">




                    <div style="width: 24%; float: left; margin-right: 1%; margin-bottom: 20px;">
                        <select data-placeholder="Выберете игру" class="chosen-select-ex form-control form-control-lg" tabindex="5">
                            <option value=""></option>
                            <optgroup label="Lineage 2 Free">
                                <option>Scryde.ru111111</option>
                                <option>Asterios.tm</option>
                                <option>Ketrawars.net</option>
                                <option>Scryde.ru</option>
                                <option>Asterios.tm</option>
                                <option>Ketrawars.net</option>
                            </optgroup>
                        </select>
                    </div>

                    <div style="width: 24%; float: left; margin-right: 1%; margin-bottom: 20px;">
                        <select data-placeholder="Выберете сервер" class="chosen-select-ex form-control form-control-lg" tabindex="5">
                            <option value=""></option>
                            <option>x1</option>
                            <option>x50</option>
                            <option>x100</option>
                            <option>x1</option>
                            <option>x50</option>
                            <option>x100</option>
                        </select>
                    </div>

                    <div style="width: 24%; margin-right: 1%; margin-bottom: 20px; float: left;">
                        <select data-placeholder="Показать по:" class="chosen-select-ex form-control form-control-lg" tabindex="5">
                            <option value=""></option>
                            <option>10</option>
                            <option>25</option>
                            <option>50</option>
                            <option>100</option>
                            <option>Все</option>
                        </select>
                    </div>

                    <div style="width: 24%; margin-right: 1%; float: left;  margin-bottom: 20px;">
                        <select data-placeholder="Показывать лоты:" class="chosen-select-ex form-control form-control-lg" tabindex="5">
                            <option value=""></option>
                            <option value="Все">Все</option>
                            <option value="Избранные игры">Избранные игры</option>
                            <option value="Избранные проекты">Избранные проекты</option>
                            <option value="Избранные сервера">Избранные сервера</option>
                            <option value="Избранные лоты">Избранные лоты</option>
                            <option value="Мои лоты">Мои лоты</option>
                        </select>
                    </div>


                    <!-- ПОКУПКА -->

                    <table id="example2-tab1-dt" class="table table-striped table-bordered table-condensed display" cellspacing="0" width="" style="text-align: center;">
                        <thead>
                        <tr>
                            <th style="text-align: center;  cursor: pointer;" data-field="Игра" data-sortable="true">Игра<i class="fas fa-sort" style="float: right;"></i></th>
                            <th style="text-align: center;  cursor: pointer;">Проект<i class="fas fa-sort-up"style="float: right;"></i></th>
                            <th style="text-align: center;  cursor: pointer;">Сервер<i class="fas fa-sort-down"style="float: right;"></i></th>
                            <th style="text-align: center;  cursor: pointer;">Сторона<i class="fas fa-sort"style="float: right;"></i></th>
                            <th style="text-align: center;  cursor: pointer; ">Количество<i class="fas fa-sort"style="float: right; "></i></th>
                            <th style="text-align: center;  cursor: pointer;">Цена<i class="fas fa-sort"style="float: right;"></i></th>
                            <th colspan="2" style="text-align: center; cursor: pointer;">Продавец<i class="fas fa-sort "style="float: right;"></i></th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="disabled"> <i class="fas fa-check " style="float: left; display: none;"  id="fa-ch-game"></i>
                                <ul id="nav">
                                    <li style="cursor: pointer;">
                                        Alineage 2 Free
                                        <ul>
                                            <li><button class="btn btn-primary " type="submit"  id="ch-game-btn" onClick=showGame()> Добавить в избранное </button></li>
                                        </ul>


                                </ul>
                            </td>
                            <td><i class="fas fa-check" style="float: left; display: none;" id="fa-ch-project"></i>
                                <ul id="nav">
                                    <li style="cursor: pointer;">
                                        Scryde.ru
                                        <ul>
                                            <li><button class="btn btn-primary" type="submit" id = "ch-project-btn" onClick=showProject()> Добавить в избранное</button></li>
                                        </ul>
                            </td>
                            <td><i class="fas fa-check" style="float: left; display: none;" id="fa-ch-server"></i>
                                <ul id="nav">
                                    <li style="cursor: pointer;">
                                        x50
                                        <ul>
                                            <li><button class="btn btn-primary" type="submit" id = "ch-server-btn" onClick=showServer()> Добавить в избранное</button></li>
                                        </ul>
                            </td>
                            <td>Я</td>
                            <td>100 кк</td>
                            <td>1 руб.</td>
                            <td>Вася</td>
                            <td>
                                <a href="#example5-tab5" aria-controls="example5-tab5" role="tab" data-toggle="tab" style="text-decoration: none; cursor: pointer; color: black;">
                                    <i class="fal fa-shopping-cart fa-lg"  title="Купить"></i>
                                </a>
                                &nbsp;&nbsp;
                                <a href="#example3-tab3" aria-controls="example3-tab3" role="tab" data-toggle="tab" style="text-decoration: none; cursor: pointer; color: black;" >
                                    <i class="fal fa-comment fa-lg"  title="Начать чат с продавцом" style="cursor: pointer;"></i>&nbsp;&nbsp;
                                </a>
                                <i class="fal fa-star fa-lg" id="addSt" onClick="addSt()" title="Добавить в избранное" style="cursor: pointer;"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>Zineage 2</td>
                            <td>Scryde.ru</td>
                            <td>x100</td>
                            <td>A</td>
                            <td>100 кк</td>
                            <td>2 руб.</td>
                            <td>Петя</td>
                            <td>&nbsp;
                                <i class="fal fa-comment fa-lg" title="Начать чат с продавцом" style="cursor: pointer;"></i>&nbsp;&nbsp;
                                <i class="fas fa-star fa-lg" title="Убрать из избранного" style="cursor: pointer;"></i>
                            </td>
                        </tr>

                        <tr>
                            <td>Арбуз 2</td>
                            <td>Scryde.ru</td>
                            <td>x100</td>
                            <td>Г</td>
                            <td>100 кк</td>
                            <td>3 руб.</td>
                            <td>Петя</td>
                            <td>&nbsp;
                                <i class="fal fa-comment fa-lg" title="Начать чат с продавцом" style="cursor: pointer;"></i>&nbsp;&nbsp;
                                <i class="fas fa-star fa-lg" title="Убрать из избранного" style="cursor: pointer;"></i>
                            </td>
                        </tr>

                        <tr>
                            <td>Яблоко 2</td>
                            <td>Scryde.ru</td>
                            <td>x100</td>
                            <td>Ю</td>
                            <td>100 кк</td>
                            <td>10 руб.</td>
                            <td>Петя</td>
                            <td>&nbsp;
                                <i class="fal fa-comment fa-lg" title="Начать чат с продавцом" style="cursor: pointer;"></i>&nbsp;&nbsp;
                                <i class="fas fa-star fa-lg" title="Убрать из избранного" style="cursor: pointer;"></i>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <!-- ОФОРМЛЕНИЕ ЗАКАЗА-->

                <div role="tabpanel" class="tab-pane fade" id="example5-tab5">
                    <a href="#example2-tab1" aria-controls="example5-tab5" role="tab" data-toggle="tab"> <i class="far fa-long-arrow-alt-left"></i> Назад</a>
                    <h1>Информация о заказе</h1>

                    <b>Игра:</b> Lineage 2 Free <br>
                    <b>Проект:</b> Scryde.ru<br>
                    <b>Сервер:</b> x50<br>
                    <b>Сторона:</b> Левая<br>
                    <b>Количество:</b> 100 кк<br>
                    <b>Цена:</b> 1 руб.<br>
                    <b>Продавец:</b> Вася<br><br>

                    Выберете форму оплаты
                    <div style=" margin-top: 20px; margin-bottom: 20px; width: 250px;" >
                        <select class="form-control " id="exampleFormControlSelect1">
                            <option>Webmoney</option>
                            <option>Yandex деньги</option>
                            <option>Qiwi</option>
                        </select>

                    </div>
                    <div style="margin-bottom: 20px;">
                        <div class="input-group" style="width: 200px; float: left; ">
                            <input type="text" class="form-control" id="exampleInputAmount" placeholder="Количество" >
                            <div class="input-group-addon d1" style="cursor: pointer;">
                                кк
                            </div>
                        </div>

                        <div>
                            <i class="fal fa-exchange" style="font-size: 25px; font-weight: bold; float: left; margin-left: 10px; margin-right: 10px; cursor: pointer;"></i>
                        </div>

                        <div class="input-group" style="width: 200px;">
                            <input type="text" class="form-control" id="exampleInputAmount" placeholder="Цена">
                            <div class="input-group-addon d1" style="cursor: pointer; " >
                                руб.
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2 ">Оплатить заказ</button>
                </div>



                <!-- ПРОДАЖА -->

                <div role="tabpanel" class="tab-pane fade" id="example2-tab2">

                    <div class="alert alert-info" id="alert-edit-sell">
                        Режим редактирования
                    </div>
                    <button type="button" class="btn btn-primary"  id="btn_sell" style="margin-bottom: 10px;" onclick="$('#target').toggle();">
                        Продать
                    </button>
                    <div id="target" style="display: none; max-width: 400px; min-width: 300px;">


                        <div style="width: 100%; float: left; margin-right: 1%; margin-bottom: 20px;">
                            <select data-placeholder="Выберете игру" class="chosen-select5" tabindex="5">
                                <option value=""></option>
                                <optgroup label="Lineage 2 Free">
                                    <option>Scryde.ru</option>
                                    <option>Asterios.tm</option>
                                    <option>Ketrawars.net</option>
                                    <option>Scryde.ru</option>
                                    <option>Asterios.tm</option>
                                    <option>Ketrawars.net</option>
                                </optgroup>
                            </select>
                        </div>

                        <div style="width: 100%; float: left; margin-right: 1%; margin-bottom: 20px;">
                            <select data-placeholder="Выберете сервер" class="chosen-select6" tabindex="5">
                                <option value=""></option>
                                <optgroup label="Lineage 2 Free">
                                    <option>x1</option>
                                    <option>x2</option>
                                </optgroup>
                            </select>
                        </div>

                        <div style="width: 100%; float: left; margin-right: 1%; margin-bottom: 20px;">
                            <select data-placeholder="Выберете сторону" class="chosen-select7" tabindex="5">
                                <option value=""></option>
                                <optgroup label="Lineage 2 Free">
                                    <option>Левая</option>
                                    <option>Правая</option>
                                </optgroup>
                            </select>
                        </div>

                        <div style="width: 100%; float: left; margin-right: 1%; margin-bottom: 20px;">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label class="sr-only" for="exampleInputAmount"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="exampleInputAmount" placeholder="Количество">


                                        <div class="input-group-addon d1" style="cursor: pointer;" >
                                            к
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>

                        <div style="width: 100%; float: left; margin-right: 1%; margin-bottom: 20px;">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label class="sr-only" for="exampleInputAmount"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="exampleInputAmount" placeholder="Цена">


                                        <div class="input-group-addon">
                                            руб.
                                        </div>

                                    </div>
                                </div>

                            </form>
                        </div>
                        <button type="button" class="btn btn-primary" style="margin-bottom: 20px;">Выставить лот</button>
                    </div>


                    <table id="example2-tab2-dt" class="table table-striped table-bordered table-condensed" cellspacing="0" width="100%">
                        <tr>
                            <th style="text-align: center;">Игра<i class="fas fa-sort" style="float: right;"></i></th>
                            <th style="text-align: center;">Проект<i class="fas fa-sort-up"style="float: right;"></i></th>
                            <th style="text-align: center;">Сервер<i class="fas fa-sort-down"style="float: right;"></i></th>
                            <th style="text-align: center;">Сторона<i class="fas fa-sort"style="float: right;"></i></th>
                            <th style="text-align: center;">Количество<i class="fas fa-sort"style="float: right;"></i></th>
                            <th style="text-align: center; ">Цена<i class="fas fa-sort"style="float: right;"></i></th>
                            <th style="text-align: center;">Действие</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr id="del-line">
                            <td>
                                <ul id="nav">
                                    Lineage 2 Free
                                    <ul>
                                    </ul>
                                </ul>
                            </td>
                            <td >
                                <ul id="nav">
                                    Scryde.ru
                                    <ul>

                                    </ul>
                            </td>
                            <td id="td_edit_select_server" >
                                <ul id="nav">
                                    x50
                                    <ul>
                                    </ul>
                            </td>
                            <td id="td_edit_select_side">Левая</td>
                            <td id="td_edit_quantity">100 кк</td>
                            <td id="td_edit_price">1 руб.</td>
                            <td>
                                <i class="fal fa-times fa-lg"  title="Удалить"  id="remove-line" onClick = "removeLine()" style="cursor: pointer;"></i>&nbsp;&nbsp;
                                <i class="fal fa-pencil fa-lg" title="Редактировать" id="edit-data" onClick = "editData()" style="cursor: pointer;"></i>&nbsp;&nbsp;
                                <i class="fal fa-eye fa-lg" title="Деактивировать" id="replace-icon"  onclick="replaceIcon()" style="cursor: pointer;"></i></td>
                        </tr>
                        </tbody>
                    </table>
                </div>


                <!-- ЧАТ -->
                <div role="tabpanel" class="tab-pane fade" id="example3-tab3">

                    <div style="min-height: 540px;;">
                        <div class="col-sm-2 col-lg-2 b1" style="height: 540px; border: 1px solid #ccc; border-right: none; overflow: auto; ">


                            <button type="submit" class="btn btn-primary mb-2 " style="min-width: 100%;">Отправить</button>
                            <button type="submit" class="btn btn-primary mb-2 " style="min-width: 100%;">Отправить</button>
                            <button type="submit" class="btn btn-primary mb-2 " style="min-width: 100%;">Отправить</button>
                            <button type="submit" class="btn btn-primary mb-2 " style="min-width: 100%;">Отправить</button>
                            <button type="submit" class="btn btn-primary mb-2 " style="min-width: 100%;">Отправить</button>
                            <button type="submit" class="btn btn-primary mb-2 " style="min-width: 100%;">Отправить</button>
                            <button type="submit" class="btn btn-primary mb-2 " style="min-width: 100%;">Отправить</button>
                            <button type="submit" class="btn btn-primary mb-2 " style="min-width: 100%;">Отправить</button>
                            <button type="submit" class="btn btn-primary mb-2 " style="min-width: 100%;">Отправить</button>
                            <button type="submit" class="btn btn-primary mb-2 " style="min-width: 100%;">Отправить</button>
                            <button type="submit" class="btn btn-primary mb-2 " style="min-width: 100%;">Отправить</button>
                            <button type="submit" class="btn btn-primary mb-2 " style="min-width: 100%;">Отправить</button>
                            <button type="submit" class="btn btn-primary mb-2 " style="min-width: 100%;">Отправить</button>
                            <button type="submit" class="btn btn-primary mb-2 " style="min-width: 100%;">Отправить</button>
                            <button type="submit" class="btn btn-primary mb-2 " style="min-width: 100%;">Отправить</button>
                            <button type="submit" class="btn btn-primary mb-2 " style="min-width: 100%;">Отправить</button>
                            <button type="submit" class="btn btn-primary mb-2 " style="min-width: 100%;">Отправить</button>
                            <button type="submit" class="btn btn-primary mb-2 " style="min-width: 100%;">Отправить</button>
                            <button type="submit" class="btn btn-primary mb-2 " style="min-width: 100%;">Отправить</button>
                        </div>

                        <div class="col-sm-10 col-lg-10 b1" style=" height: 400px; border: 1px solid #ccc; margin-bottom: 20px; overflow: auto;">
                            <div style="width: 100%;  display: inline-block;">
                                <div style="float: right;">23:12</div>
                                <div style="float: left;  min-width: 90%;">Системное сообщение</div>
                                <div style ="max-width: 90%; min-width: 90%;  float: left; word-wrap: break-word; margin-bottom: 5px;" >
                                    <div class="alert alert-info" role="alert" style="margin-bottom: 0px; margin-top: 5px;">
                                        Зак
                                    </div>
                                </div>
                            </div>
                            <div style="width: 100%;  display: inline-block;">
                                <div style="float: right;">23:12</div>
                                <div style="float: left;  min-width: 90%;">matrixmatrix</div>
                                <div style ="max-width: 90%; min-width: 90%;  float: left; word-wrap: break-word; margin-bottom: 5px;" >
                                    <div class="alert alert-info" role="alert" style="margin-bottom: 0px; margin-top: 5px;">
                                        This alert needs your attention, but it's not super important.
                                    </div>
                                </div>
                            </div>
                            <div style="width: 100%;  display: inline-block;">
                                <div style="float: right;">23:12</div>
                                <div style="float: left;  min-width: 90%;">matrixmatrix</div>
                                <div style ="max-width: 90%; min-width: 90%;  float: left; word-wrap: break-word; margin-bottom: 5px;" >
                                    <div class="alert alert-info" role="alert" style="margin-bottom: 0px; margin-top: 5px;">
                                        This alert needs your attention, but it's not super important.
                                    </div>
                                </div>
                            </div>
                            <div style="width: 100%;  display: inline-block;">
                                <div style="float: right;">23:12</div>
                                <div style="float: left;  min-width: 90%;">matrixmatrix</div>
                                <div style ="max-width: 90%; min-width: 90%;  float: left; word-wrap: break-word; margin-bottom: 5px;" >
                                    <div class="alert alert-info" role="alert" style="margin-bottom: 0px; margin-top: 5px;">
                                        This alert needs your attention, but it's not super important.
                                    </div>
                                </div>
                            </div>
                            <div style="width: 100%;  display: inline-block;">
                                <div style="float: right;">23:12</div>
                                <div style="float: left;  min-width: 90%;">matrixmatrix</div>
                                <div style ="max-width: 90%; min-width: 90%;  float: left; word-wrap: break-word; margin-bottom: 5px;" >
                                    <div class="alert alert-info" role="alert" style="margin-bottom: 0px; margin-top: 5px;">
                                        This alert needs your attention, but it's not super important.
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class= "form-group">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="max-width: 83%; min-width:  83%; max-height: 85px;  min-height: 85px; float: right;"></textarea>
                            <div style="margin-top: 5px; float: right;">
                                <button type="submit" class="btn btn-primary mb-2 ">Отправить</button>
                            </div>
                        </div>



                    </div>
                </div>

                <!--СТАТИСТИКА-->

                <div role="tabpanel" class="tab-pane fade" id="example4-tab4">
                    СТАТИСТИКА
                </div>

            </div><!-- /.tab-content -->

        </div><!-- /.row -->
    </div><!-- /.container -->


    </body>
    </html>


{% endblock %}