{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends 'ExchangerBundle::layout.html.twig' %}

{% block content %}
    <div id="content" class="col-xs-12 col-sm-8 col-lg-7 col-md-9">
        <ul class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i></a></li>
            <li><span>Обратная связь</span></li>
        </ul>

        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal" name="form" onsubmit='return FunctionValidateNameEmailText()'>
            <fieldset>

                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10 alert alert-success">
                        {{ flashMessage }}
                    </div>
                {% endfor %}

                <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-name">Имя</label>
                    <div class="col-sm-10">
                        <input type="text" name="name" value="" id="name" class="form-control" />
                    </div>
                </div>

                <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-email">E-Mail</label>
                    <div class="col-sm-10">
                        <input type="text" name="email" value="" id="email" class="form-control" />
                    </div>
                    <div class="col-sm-2"></div>
                </div>

                <div class="div-submit-validation div-mail-err">
                    <span class="div-validation-feedback hidden" id="ValidationEmail">
                        Некорректный Email адрес
                    </span>
                </div>

                <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-enquiry">Текст</label>
                    <div class="col-sm-10 div-form-text" >
                        <textarea name="text" rows="10" id="text" class="form-control"></textarea>
                    </div>
                </div>


                <div class="div-submit-validation">
                    <span class="div-validation-feedback hidden" id="ValidationNameEmailText" >
                        Необходимо заполнить все поля
                    </span>
                </div>
            </fieldset>
            <div class="buttons">
                <div class="pull-right div-sub-forms">
                    <input class="btn" type="submit" name="feedbackSubmit" id="submit" value="Отправить" onclick="FunctionValidateNameEmailText()" />
                </div>
            </div>
        </form>
    </div>

{% endblock %}