{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends 'ExchangerBundle::layout.html.twig' %}

{% block content %}
    <div id="content" class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
        <div class="row allprobg">
            {% for game in gamesList %}
                    <div class="product-layout product-grid col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                        <div class="product-thumb transition general-bg " id="div-margin-top" >
                            <div class="image image-margin">
                                <a href="/game/{{ game['href'] }}">
                                    <img data-src="/image/games/{{ game['bigLogo'] }}" alt="{{ game['name'] }}" title="{{ game['name'] }}" class="img-responsive center-block hov-img lazy"/>
                                </a>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
        {#<div class="row pagi">#}
            {#<div class="col-sm-6 col-xs-6 text-left">#}
                {#<ul class="pagination">#}
                    {#<li class="active"><span>1</span></li>#}
                    {#<li><a href="http://inspiretemplate.com/opencart/Amelia/index.php?route=product/category&amp;path=20&amp;page=2">2</a></li>#}
                    {#<li><a href="http://inspiretemplate.com/opencart/Amelia/index.php?route=product/category&amp;path=20&amp;page=2">&gt;</a></li>#}
                    {#<li><a href="http://inspiretemplate.com/opencart/Amelia/index.php?route=product/category&amp;path=20&amp;page=2">&gt;|</a></li>#}
                {#</ul>#}
            {#</div>#}
            {#<div class="col-sm-6 col-xs-6 text-right tot">Showing 1 to 9 of 14 (2 Pages)</div>#}
        {#</div>#}
    </div>
{% endblock %}