<div class="hidden-xs">
    <div class="cateti">
        <h3><i class="catalog-head">Каталог игр</i></h3>
    </div>
    <div class="cate-menu ">
        <nav id="menu" class="navbar">
            <div class="navbar-header"><span id="category" class="visible-xs"></span>
                <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse custom-bg-gameslist">
                <ul class="nav">

                    {% for game in gamesList %}
                        <li class="moremenu {% if game['internalCategories'] is not empty %}accordion hasChildren{% endif %}">
                            <a href="/game/{{ game['href'] }}">
                                <img data-src="/image/widget/gamesList/{{ game['logo'] }}" style="max-width: 30px; height: auto" alt="{{ game['name'] }}" class="lazy">{{ game['name'] }} {% if game['internalCategories'] is not empty %}<i class="fa {% if gamePageId != game['id'] %}fa-angle-down{% else %}fa-angle-up{% endif %} hasChildrenArrow"></i>{% endif %}
                            </a>
                            {% if game['internalCategories'] is not empty %}
                                <ul class="sub-menu accordionChild-ul">
                                    {% for internalCategory in game['internalCategories'] %}
                                        <li class="{% if gamePageId != game['id'] %}hidden{% endif %} accordionChild" style="margin: 10px 0">
                                            <a href="/game/{{ internalCategory['href'] }}" class="accordionChild-a">{{ internalCategory['name'] }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}

                </ul>
            </div>
        </nav>
    </div>
</div>