<div class="pro-bg leftpro">
    <p class="minnewsname">Новости игр</p>
    <div class="pro-nepr">

        {%  for new in news %}
            <div class="min-news-div">
                <a href="/news/{{ new.href }}"><h4 class="min-news-header">{{ new.name | slice(0,70) }}</h4></a>
                <p class="min-news" >{{ new.short_text | slice(0,70) | raw }}...</p>
                <p class="min-news-date">{{ new.created_date | date("d.m.y")  }}</p>
            </div>
        {% endfor %}

        <div class="min-news-div">
            <a href="/news"><p class="min-more-news">Смотреть все новости</p></a>
        </div>
    </div>
</div>