{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends 'ExchangerBundle::layout.html.twig' %}

{% block content %}
    <div id="content" class="col-sm-4 col-md-7 col-xs-12">
        <ul class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i></a></li>
            <li><a href="/cabinet">Личный кабинет</a></li>
            <li><span>История заказов</span></li>
        </ul>
        <div class="table-responsive">
            {% if orders is defined and orders is not empty %}
                <table class="table-striped table-bordered dataTable">
                    <thead>
                    <tr role="row" >
                        <th class="style-table-head">№</th>
                        <th class="sorting  style-table-head" >Email</th>
                        <th class="sorting style-table-head" >Игра</th>
                        <th class="sorting_asc style-table-head" >Цена</th>
                        <th class="sorting_asc style-table-head" >Кол-во игровой валюты</th>
                        <th class="sorting_asc style-table-head" >Статус</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        <tr role="row" class="odd">
                            <td class="sorting_1 table-information table-info-num">{{ order.id }}</td>
                            <td class="sorting_1 table-information table-info-email">{{ order.email }}</td>
                            <td class="sorting_1 table-information table-info-game">{{ order.gameName }} / {{ order.projectName }} / {{ order.serverName }} {% if order.sideName is defined and order.sideName is not empty %}/ {{ order.sideName }} {% endif %} / {{ order.nickname }}</td>
                            <td class="sorting_1 table-information table-info-price">{{ order.payment_amount|number_format(2, '.', ' ') }} {{ currencies[order.currency_id] }}</td>
                            <td class="sorting_1 table-information table-info-coin">{{ order.purchased_amount|number_format(2, '.', ' ') }} {{ order.measureUnit }} {{ order.nameOfCoin }}</td>
                            <td class="sorting_1 table-information table-info-status">{{ statuses[order.status] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                У вас еще не было заказов.
            {% endif %}
        </div>
        <div class="row">
            <div class="col-sm-6 text-left"></div>
            <div class="col-sm-6 text-right"></div>
        </div>
    </div>
    <aside id="column-right"  class="col-md-2 col-sm-4 col-xs-12 hidden-xs">
        <div class="list-group div-style-cab-nav ">
            <a href="/cabinet" class=" div-style-cab-nav-sec col-sm-12 col-md-12 col-xs-12" >История заказов</a>
            <a href="/cabinet/profile" class="div-style-cab-nav-sec col-sm-12 col-md-12 col-xs-12" >Управление аккаунтом</a>
        </div>
    </aside>
{% endblock %}