{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends 'ExchangerBundle::layout.html.twig' %}

{% block content %}
    <div id="content" class="col-sm-4 col-md-7 col-xs-12">
        <ul class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i></a></li>
            <li><a href="/cabinet">Личный кабинет</a></li>
            <li><span>Управление аккаунтом</span></li>
        </ul>
        <div class="table-responsive">
            {% if user.approved == 0 %}
                <div class="form-group required">
                    <div class="col-md-3" for="nickname"></div>
                    <div class="col-md-9">
                        <div class="alert alert-danger alert-email" >
                            Ваш Email не подтвержден. Для подтверждения перейдите по  <a href="#" id="approvingEmail" class="submit_email">ссылке</a>.
                        </div>
                        <div id="approvingEmailFromCabinet" class="alert alert-success alert-email hidden" >
                            На указанную почту было отправлено письмо
                        </div>
                    </div>
                </div>

            {% endif %}
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="form-group required">
                    <div class="col-md-3 " for="nickname"></div>

                    <div class="alert alert-success col-md-9 alert-flash">
                        {{ flashMessage }}
                    </div>
                </div>

            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">
                    {{ flashMessage }}
                </div>
            {% endfor %}
        </div>
        <form action="" method="post" class="form-horizontal">
            <fieldset>
                <div class="form-group required">
                    <label class="col-md-3 control-label" for="nickname">Логин</label>
                    <div class="col-md-9">
                        <input type="text" name="nickname" value="{{ user.name }}" placeholder="" id="nickname" class="form-control">
                        <div id="nicknameValidation" class="div-validation-change hidden">
                            Вы не ввели имя
                        </div>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="col-md-3 control-label" for="input-lastname">E-Mail</label>
                    <div class="col-md-9">
                        <input type="text" name="email" value="{{ user.email }}" placeholder="" id="email" class="form-control">
                        <div id="emailValidation" class="div-validation-change hidden">
                            Некорректный Email
                        </div>
                    </div>
                    {% if user.approved == 0 %}
                        <div class="col-md-3"></div>


                    {% endif %}
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="input-email">Пароль</label>
                    <div class="col-md-9">
                        <input type="password" name="password" value="" placeholder="минимум 5 символов" id="password" class="form-control">
                        <i class="validation-cabinet">
                            Вписывайте пароль только если хотите его изменить
                        </i>
                    </div>
                    <div id="passwordValidation" class="div-validation hidden">
                        Неверный формат пароля
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label" for="telegram">Telegram</label>
                    <div class="col-md-9">
                        <input type="text" name="telegram" value="{{ user.telegram }}" placeholder="" id="telegram" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="icq">ICQ</label>
                    <div class="col-md-9">
                        <input type="text" name="icq" value="{{ user.icq }}" placeholder="" id="icq" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="skype">Skype</label>
                    <div class="col-md-9">
                        <input type="text" name="skype" value="{{ user.skype }}" placeholder="" id="skype" class="form-control">
                    </div>
                </div>
            </fieldset>
            <div class="buttons clearfix">
                <div class="pull-right">
                    <input type="submit" name="submitProfile" id="submitProfile" value="Сохранить" class="btn">
                </div>
            </div>
        </form>
    </div>
    <aside id="column-right" class="col-md-2 col-sm-4 col-xs-12 hidden-xs">
        <div class="list-group div-style-cab-nav">
            <a href="/cabinet" class=" col-md-12 col-sm-12 col-xs-12 div-style-cab-nav-sec">История заказов</a>
            <a href="/cabinet/profile" class=" col-md-12 col-sm-12 col-xs-12 div-style-cab-nav-sec">Управление аккаунтом</a>
        </div>
    </aside>
{% endblock %}