{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends 'ExchangerBundle::layout.html.twig' %}

{% block content %}
    <div id="content" class="col-xs-12 col-sm-8 col-md-9 col-lg-9">

        <ul class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i></a></li>
            <li><span>Новости</span></li>
        </ul>

                <div class="wrapper">
                    {% for new in newsList %}
                        <a href="/news/{{ new.href }}">
                            <div class="col-1-4n">
                                <img src="{{ imageDir }}{{ new.id }}/{{ new.img }}"  width="100%";>
                                <p class="min-news-text">{{ new.name | slice(0, 100) }}</p>
                            </div>
                        </a>
                    {% endfor %}


                    {#<div class="col-1-8n">#}
                        {#<div class="block-num">#}
                            {#<a href="#"><div class="number-page"><<</div></a>#}
                            {#<a href="#"><div class="number-page"><</div></a>#}
                            {#<a href="#"> <div class="number-page">2</div></a>#}
                            {#<a href="#"> <div class="number-page">2</div></a>#}
                            {#<a href="#"> <div class="number-page">2</div></a>#}
                            {#<a href="#"> <div class="number-page">2</div></a>#}
                            {#<a href="#"> <div class="number-page">2</div></a>#}
                            {#<a href="#"> <div class="number-page">></div></a>#}
                            {#<a href="#"> <div class="number-page">>></div></a>#}
                        {#</div>#}
                    {#</div>#}
                </div>
            </div>
{% endblock %}