{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends 'ExchangerBundle::layout.html.twig' %}

{% block content %}
    <div id="content" class="col-xs-12 col-sm-8 col-md-9 col-lg-9">

        <ul class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i></a></li>
            <li><a href="/news" ><span class="div-news-link">Новости</span></a></li>
            <li><span class="div-news-link">{{ new.name }}</span></li>
        </ul>

        {% if adminPreview is defined and adminPreview == 1 %}
            <div class="alert alert-info">ПРЕДПРОСМОТР! <a style="color: green; text-decoration: underline" href="#" id="historyBack" onclick="window.history.back();">вернуться в даминку</a></div>
        {% endif %}
        <div class="row allprobg">
            {{ new.text | raw }}
        </div>
    </div>
{% endblock %}