{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends 'ExchangerBundle::layout.html.twig' %}

{% block content %}
<div id="content" class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
    <ul class="breadcrumb">
        <li><a href="/index.php?route=common/home"><i class="fa fa-home"></i></a></li>
        <li><span>{{ game.name }}</span></li>
    </ul>
    <div>
        <div>
            <form action="/game/order/create" method="post" id="orderform">
            <input type="text" name="gamePageId" id="gamePageId" value="{{ gamePageId }}" class="hidden">
            <input type="text" name="gameId" id="gameId" value="{{ game.id }}" class="hidden">
            <div class="rows clearfix">
                {% if projects is defined and projects is not empty %}
                    <div class="col-1-2">
                        <p class="text-for-form">Выбор проекта</p>
                        <select class="form-control form-control-lg" id="projectsSelect" name="projectsSelect">
                            {% for project in projects %}
                                <option value="{{ project.id }}" {% if project.id == game.id %} selected {% endif %}>{{ project.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% else %}
                    <input type="text" name="projectsSelect" id="projectsSelect" value="{{ gamePageId }}" class="hidden">
                {% endif %}
                <div class="col-1-2">
                   <p class="text-for-form">Выбор сервера</p>
                    <select class="form-control form-control-lg" id="serverSelect" name="serverSelect">
                        {% if projects is not defined or projects is empty %}
                            {% for server in servers %}
                                <option value="{{ server.id }}" data-price="{{ server.price_for_coin }}" data-measure_unit="{{ server.measure_unit }}">{{ server.name }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>

                {% if sides is defined and sides is not empty %}
                    <div class="col-1-2">
                       <p class="text-for-form">Выбор стороны</p>
                        <select class="form-control form-control-lg" id="sideSelect" name="sideSelect">
                            {% for side in sides %}
                                <option value="{{ side.id }}">{{ side.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}
            </div>

            <div class="rows clearfix">
                <div class="col-2-3">
                    <p class="text-for-form">Способы оплаты</p>
                    <select class="form-control form-control-lg" id="paymentSelect" name="paymentSelect">
                        {% for index, payment in payments %}
                            <option value="{{ index }}" {% if index == 1 %}selected{% endif %}>{{ payment.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-2-3">
                    <p class="text-for-form">Валюта</p>
                    <select class="form-control form-control-lg" id="currencySelect" name="currencySelect">
                    </select>
                </div>
            </div>

            <div id="serverPrice">

            </div>
            <div class="rows clearfix">
                <div class="col-2-4">
                   <p class="text-for-form"> Я заплачу, <span id="currencySpan"></span></p>
                    <input type="text" name="paymentAmount" class="form-control amount" id="paymentAmount" maxlength="15" value="">
                </div>
                <input type="hidden" id="discount" name="discount" value="{{ discount }}">
                {% if discount !=0 %}
                    <div class="col-1-2" >
                        <p class="text-for-form" style="margin-top: 30px;font-size: 20px;">Скидка: "{{ discount }}"%</p>
                    </div>
                {% endif %}
                <div class="col-2-4">
                    <p class="text-for-form">Я получу, {{ coinName }}</p>
                    <input type="text" name="purchasedAmount" class="form-control amount" id="purchasedAmount" value="" maxlength="20">
                    <div class="summ">Сумма: &nbsp;</div><p class="comm" id="purchasedAmountDiv"></p>
                </div>
            </div>

            <div class="rows clearfix">
                <div class="col-2-3">
                   <p class="text-for-form"> Ваша почта</p>
                    <input type="email" class="form-control" id="email" name="email" value="{% if user is defined and user is not null %}{{ user.email }}{% endif %}">
                </div>
                <div class="col-2-3">
                    <p class="text-for-form">Ник персонажа </p>

                    <input type="text" class="form-control" id="nickname" name="nickname" value="">
                </div>
            </div>


            <div class="rows clearfix">
                <div class="col-1-8">
                    <p class="text-for-form">Комментарий</p>
                    <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
                </div>
            </div>
            <div class="rows clearfix">
                <div class="col-1-9">
                     <p ><input type="submit" name="submit" id="submit" class="btn btn-buy btnsm1" value="Оформить заказ"></p>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>

    <script type="text/javascript">
        var paymentsJson = {{ paymentsJson | raw }};
        var currencyCourse = {{ currencyCourse | raw }};
    </script>
{% endblock %}