{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends 'ExchangerBundle::layout.html.twig' %}

{% block content %}
<div id="content" class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
    <ul class="breadcrumb">
        <li><a href="http://gold-buy.ru"><i class="fa fa-home"></i></a></li>
    </ul>

    <table>
        <tr>
            <th style="width: 200px;">Ваш заказ №:</th>
            <td>{{ orderInfo.id }}</td>
        </tr>
        <tr>
            <th>Статус:</th>
            <td>{{ orderInfo.status }}</td>
        </tr>
        <tr>
            <th>Количество монет:</th>
            <td>{{ orderInfo.purchasedAmount }}</td>
        </tr>
        <tr>
            <th>К оплате:</th>
            <td>{{ orderInfo.purchasedAmount }} {{ orderInfo.currency }}</td>
        </tr>
        <tr>
            <th>Игра:</th>
            <td>{{ orderInfo.id }}</td>
        </tr>
        {% if orderInfo.serverId is defined %}
            <tr>
                <th>Сервер:</th>
                <td>{{ orderInfo.serverId }}</td>
            </tr>
        {% endif %}
        <tr>
            <th>Никнейм персонажа:</th>
            <td>{{ orderInfo.nickname }}</td>
        </tr>
        <tr>
            <th>Email:</th>
            <td>{{ orderInfo.email }}</td>
        </tr>
        <tr>
            <th>Комментарий:</th>
            <td>{{ orderInfo.comment }}</td>
        </tr>
    </table>
    <br>
    <br>
    <b>Ожидайте связи с оператором</b>
</div>
{% endblock %}